<div class="page-heading">
    <h1 class="page-title">Icon Buttons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Buttons</li>
        <li class="breadcrumb-item">Icon Buttons</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row btn-list-demo">
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Only Icon Buttons (Line awesome)</div>
                </div>
                <div class="ibox-body">
                    <div class="mt-4 mb-4">Circle</div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-circle btn-lg btn-air"><i class="la la-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-circle btn-lg btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-circle btn-lg btn-air"><i class="la la-comments"></i></button>
                        <button class="btn btn-success btn-icon-only btn-circle btn-lg btn-air"><i class="la la-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-circle btn-lg btn-air"><i class="la la-warning"></i></button>
                        <button class="btn btn-white btn-icon-only btn-circle btn-lg btn-air"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-circle btn-air"><i class="la la-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-circle btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-comments"></i></button>
                        <button class="btn btn-success btn-icon-only btn-circle btn-air"><i class="la la-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-circle btn-air"><i class="la la-warning"></i></button>
                        <button class="btn btn-white btn-icon-only btn-circle btn-air"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-circle btn-sm btn-air"><i class="la la-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-circle btn-sm btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-circle btn-sm btn-air"><i class="la la-comments"></i></button>
                        <button class="btn btn-success btn-icon-only btn-circle btn-sm btn-air"><i class="la la-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-circle btn-sm btn-air"><i class="la la-warning"></i></button>
                        <button class="btn btn-white btn-icon-only btn-circle btn-sm btn-air"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Gradient</div>
                    <div>
                        <button class="btn btn-gradient-purple btn-icon-only btn-circle btn-lg btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-gradient-peach btn-icon-only btn-circle btn-lg btn-air"><i class="la la-heart-o"></i></button>
                        <button class="btn btn-gradient-aqua btn-icon-only btn-circle btn-lg btn-air"><i class="la la-comments"></i></button>
                        <button class="btn btn-gradient-blue btn-icon-only btn-circle btn-lg btn-air"><i class="la la-plus"></i></button>
                        <button class="btn btn-gradient-silver btn-icon-only btn-circle btn-lg btn-air"><i class="la la-search"></i></button>
                        <button class="btn btn-gradient-lime btn-icon-only btn-circle btn-lg btn-air"><i class="la la-leaf"></i></button>
                        <button class="btn btn-gradient-blue-pink btn-icon-only btn-circle btn-lg btn-air"><i class="la la-camera"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Outline</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-lg"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-lg"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-lg"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-lg"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-lg"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-lg"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-sm"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-sm"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-sm"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-sm"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-sm"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-sm"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Thick style</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-lg btn-thick"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-lg btn-thick"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-lg btn-thick"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-lg btn-thick"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-lg btn-thick"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-lg btn-thick"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-thick"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-thick"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-thick"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-thick"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-thick"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-thick"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-sm btn-thick"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-sm btn-thick"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-sm btn-thick"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-sm btn-thick"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-sm btn-thick"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-sm btn-thick"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div class="mt-5 mb-4">Square</div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-lg btn-air"><i class="la la-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-lg btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-lg btn-air"><i class="la la-comments"></i></button>
                        <button class="btn btn-success btn-icon-only btn-lg btn-air"><i class="la la-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-lg btn-air"><i class="la la-warning"></i></button>
                        <button class="btn btn-white btn-icon-only btn-lg btn-air"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-air"><i class="la la-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-air"><i class="la la-comments"></i></button>
                        <button class="btn btn-success btn-icon-only btn-air"><i class="la la-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-air"><i class="la la-warning"></i></button>
                        <button class="btn btn-white btn-icon-only btn-air"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-sm btn-air"><i class="la la-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-sm btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-sm btn-air"><i class="la la-comments"></i></button>
                        <button class="btn btn-success btn-icon-only btn-sm btn-air"><i class="la la-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-sm btn-air"><i class="la la-warning"></i></button>
                        <button class="btn btn-white btn-icon-only btn-sm btn-air"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Square Outline</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-lg"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-lg"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-lg"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-lg"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-lg"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-lg"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-sm"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-sm"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-sm"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-sm"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-sm"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-sm"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Thick style</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-lg btn-thick"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-lg btn-thick"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-lg btn-thick"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-lg btn-thick"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-lg btn-thick"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-lg btn-thick"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-thick"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-thick"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-thick"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-thick"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-thick"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-thick"><i class="la la-cloud-download"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-sm btn-thick"><i class="la la-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-sm btn-thick"><i class="la la-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-sm btn-thick"><i class="la la-comments"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-sm btn-thick"><i class="la la-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-sm btn-thick"><i class="la la-warning"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-sm btn-thick"><i class="la la-cloud-download"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Icon Buttons (Line Awesome)</div>
                </div>
                <div class="ibox-body">
                    <button class="btn btn-info btn-fix">
                        <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-primary btn-fix">
                        <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                    </button>
                    <button class="btn btn-pink btn-fix">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-secondary btn-fix">
                        <span class="btn-icon"><i class="la la-print"></i>Print</span>
                    </button>
                    <button class="btn btn-danger btn-fix">
                        <span class="btn-icon"><i class="la la-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-warning btn-fix">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <div class="mt-4 mb-4">Gradient</div>
                    <button class="btn btn-gradient-purple btn-fix">
                        <span class="btn-icon"><i class="la la-camera"></i>Upload</span>
                    </button>
                    <button class="btn btn-gradient-peach btn-fix">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-gradient-aqua btn-fix">
                        <span class="btn-icon"><i class="la la-comments"></i>Comment</span>
                    </button>
                    <button class="btn btn-gradient-blue btn-fix">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <button class="btn btn-gradient-silver btn-fix">
                        <span class="btn-icon"><i class="la la-search"></i>Search</span>
                    </button>
                    <button class="btn btn-gradient-lime btn-fix">
                        <span class="btn-icon"><i class="la la-cloud-download"></i>Download</span>
                    </button>
                    <button class="btn btn-gradient-blue-pink btn-fix">
                        <span class="btn-icon"><i class="la la-music"></i>Music</span>
                    </button>
                    <div class="mt-4 mb-4">Air style</div>
                    <button class="btn btn-info btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-primary btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                    </button>
                    <button class="btn btn-pink btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-secondary btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-print"></i>Print</span>
                    </button>
                    <button class="btn btn-danger btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-warning btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <div class="mt-4 mb-4">Outline</div>
                    <button class="btn btn-outline-info btn-fix">
                        <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix">
                        <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix">
                        <span class="btn-icon"><i class="la la-print"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix">
                        <span class="btn-icon"><i class="la la-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <div class="mt-4 mb-4">Outline Air style</div>
                    <button class="btn btn-outline-info btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-print"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-air">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <div class="mt-4 mb-4">Thick style</div>
                    <button class="btn btn-outline-info btn-fix btn-thick">
                        <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-thick">
                        <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-thick">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-thick">
                        <span class="btn-icon"><i class="la la-print"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-thick">
                        <span class="btn-icon"><i class="la la-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-thick">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <div class="mt-4 mb-4">Rounded</div>
                    <button class="btn btn-outline-info btn-fix btn-rounded">
                        <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-rounded">
                        <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-rounded">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-rounded">
                        <span class="btn-icon"><i class="la la-print"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-rounded">
                        <span class="btn-icon"><i class="la la-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-rounded">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <div class="mt-4 mb-4">Thick style</div>
                    <button class="btn btn-outline-info btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="la la-print"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="la la-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="la la-user-plus"></i>Upload</span>
                    </button>
                    <div class="mt-4 mb-4">Sizes</div>
                    <div>
                        <button class="btn btn-primary btn-fix btn-lg">
                            <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                        </button>
                        <button class="btn btn-pink btn-fix btn-lg">
                            <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-fix">
                            <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                        </button>
                        <button class="btn btn-pink btn-fix">
                            <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-fix btn-sm">
                            <span class="btn-icon"><i class="la la-pencil"></i>Edit</span>
                        </button>
                        <button class="btn btn-pink btn-fix btn-sm">
                            <span class="btn-icon"><i class="la la-heart-o"></i>Follow</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row btn-list-demo">
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Only Icon Buttons (Themify)</div>
                </div>
                <div class="ibox-body">
                    <div class="mt-4 mb-4">Circle</div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-circle btn-lg btn-air"><i class="ti-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-circle btn-lg btn-air"><i class="ti-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-circle btn-lg btn-air"><i class="ti-comment"></i></button>
                        <button class="btn btn-success btn-icon-only btn-circle btn-lg btn-air"><i class="ti-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-circle btn-lg btn-air"><i class="ti-help"></i></button>
                        <button class="btn btn-white btn-icon-only btn-circle btn-lg btn-air"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-circle btn-air"><i class="ti-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-circle btn-air"><i class="ti-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="ti-comment"></i></button>
                        <button class="btn btn-success btn-icon-only btn-circle btn-air"><i class="ti-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-circle btn-air"><i class="ti-help"></i></button>
                        <button class="btn btn-white btn-icon-only btn-circle btn-air"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-circle btn-sm btn-air"><i class="ti-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-circle btn-sm btn-air"><i class="ti-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-circle btn-sm btn-air"><i class="ti-comment"></i></button>
                        <button class="btn btn-success btn-icon-only btn-circle btn-sm btn-air"><i class="ti-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-circle btn-sm btn-air"><i class="ti-help"></i></button>
                        <button class="btn btn-white btn-icon-only btn-circle btn-sm btn-air"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Gradient</div>
                    <div>
                        <button class="btn btn-gradient-purple btn-icon-only btn-circle btn-lg btn-air"><i class="ti-music"></i></button>
                        <button class="btn btn-gradient-peach btn-icon-only btn-circle btn-lg btn-air"><i class="la la-heart-o"></i></button>
                        <button class="btn btn-gradient-aqua btn-icon-only btn-circle btn-lg btn-air"><i class="ti-comments"></i></button>
                        <button class="btn btn-gradient-blue btn-icon-only btn-circle btn-lg btn-air"><i class="ti-plus"></i></button>
                        <button class="btn btn-gradient-silver btn-icon-only btn-circle btn-lg btn-air"><i class="ti-search"></i></button>
                        <button class="btn btn-gradient-lime btn-icon-only btn-circle btn-lg btn-air"><i class="ti-support"></i></button>
                        <button class="btn btn-gradient-blue-pink btn-icon-only btn-circle btn-lg btn-air"><i class="ti-gift"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Outline</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-lg"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-lg"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-lg"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-lg"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-lg"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-lg"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-sm"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-sm"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-sm"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-sm"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-sm"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-sm"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Thick style</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-lg btn-thick"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-lg btn-thick"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-lg btn-thick"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-lg btn-thick"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-lg btn-thick"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-lg btn-thick"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-thick"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-thick"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-thick"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-thick"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-thick"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-thick"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-circle btn-sm btn-thick"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-circle btn-sm btn-thick"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-circle btn-sm btn-thick"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-circle btn-sm btn-thick"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-circle btn-sm btn-thick"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-sm btn-thick"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div class="mt-5 mb-4">Square</div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-lg btn-air"><i class="ti-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-lg btn-air"><i class="ti-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-lg btn-air"><i class="ti-comment"></i></button>
                        <button class="btn btn-success btn-icon-only btn-lg btn-air"><i class="ti-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-lg btn-air"><i class="ti-help"></i></button>
                        <button class="btn btn-white btn-icon-only btn-lg btn-air"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-air"><i class="ti-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-air"><i class="ti-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-air"><i class="ti-comment"></i></button>
                        <button class="btn btn-success btn-icon-only btn-air"><i class="ti-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-air"><i class="ti-help"></i></button>
                        <button class="btn btn-white btn-icon-only btn-air"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-info btn-icon-only btn-sm btn-air"><i class="ti-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-sm btn-air"><i class="ti-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-sm btn-air"><i class="ti-comment"></i></button>
                        <button class="btn btn-success btn-icon-only btn-sm btn-air"><i class="ti-plus"></i></button>
                        <button class="btn btn-danger btn-icon-only btn-sm btn-air"><i class="ti-help"></i></button>
                        <button class="btn btn-white btn-icon-only btn-sm btn-air"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Square Outline</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-lg"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-lg"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-lg"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-lg"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-lg"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-lg"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-sm"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-sm"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-sm"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-sm"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-sm"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-sm"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div class="mt-4 mb-4">Thick style</div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-lg btn-thick"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-lg btn-thick"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-lg btn-thick"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-lg btn-thick"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-lg btn-thick"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-lg btn-thick"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-thick"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-thick"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-thick"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-thick"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-thick"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-thick"><i class="ti-cloud-down"></i></button>
                    </div>
                    <div>
                        <button class="btn btn-outline-info btn-icon-only btn-sm btn-thick"><i class="ti-pencil"></i></button>
                        <button class="btn btn-outline-primary btn-icon-only btn-sm btn-thick"><i class="ti-music"></i></button>
                        <button class="btn btn-outline-pink btn-icon-only btn-sm btn-thick"><i class="ti-comment"></i></button>
                        <button class="btn btn-outline-success btn-icon-only btn-sm btn-thick"><i class="ti-plus"></i></button>
                        <button class="btn btn-outline-danger btn-icon-only btn-sm btn-thick"><i class="ti-help"></i></button>
                        <button class="btn btn-outline-secondary btn-icon-only btn-sm btn-thick"><i class="ti-cloud-down"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Icon Buttons (Themify)</div>
                </div>
                <div class="ibox-body">
                    <button class="btn btn-info btn-fix">
                        <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-primary btn-fix">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-pink btn-fix">
                        <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                    </button>
                    <button class="btn btn-secondary btn-fix">
                        <span class="btn-icon"><i class="ti-printer"></i>Print</span>
                    </button>
                    <button class="btn btn-danger btn-fix">
                        <span class="btn-icon"><i class="ti-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-warning btn-fix">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <div class="mt-4 mb-4">Gradient</div>
                    <button class="btn btn-gradient-purple btn-fix">
                        <span class="btn-icon"><i class="ti-music"></i>Music</span>
                    </button>
                    <button class="btn btn-gradient-peach btn-fix">
                        <span class="btn-icon"><i class="ti-camera"></i>Photos</span>
                    </button>
                    <button class="btn btn-gradient-aqua btn-fix">
                        <span class="btn-icon"><i class="ti-comments"></i>Comment</span>
                    </button>
                    <button class="btn btn-gradient-blue btn-fix">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-gradient-silver btn-fix">
                        <span class="btn-icon"><i class="ti-shopping-cart"></i>Purchase</span>
                    </button>
                    <button class="btn btn-gradient-lime btn-fix">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <button class="btn btn-gradient-blue-pink btn-fix">
                        <span class="btn-icon"><i class="ti-gift"></i>Bounty</span>
                    </button>
                    <div class="mt-4 mb-4">Air style</div>
                    <button class="btn btn-info btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-primary btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-pink btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                    </button>
                    <button class="btn btn-secondary btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-printer"></i>Print</span>
                    </button>
                    <button class="btn btn-danger btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-warning btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <div class="mt-4 mb-4">Outline</div>
                    <button class="btn btn-outline-info btn-fix">
                        <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix">
                        <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix">
                        <span class="btn-icon"><i class="ti-printer"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix">
                        <span class="btn-icon"><i class="ti-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <div class="mt-4 mb-4">Outline Air style</div>
                    <button class="btn btn-outline-info btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-printer"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-air">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <div class="mt-4 mb-4">Thick</div>
                    <button class="btn btn-outline-info btn-fix btn-thick">
                        <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-thick">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-thick">
                        <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-thick">
                        <span class="btn-icon"><i class="ti-printer"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-thick">
                        <span class="btn-icon"><i class="ti-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-thick">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <div class="mt-4 mb-4">Rounded</div>
                    <button class="btn btn-outline-info btn-fix btn-rounded">
                        <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-rounded">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-rounded">
                        <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-rounded">
                        <span class="btn-icon"><i class="ti-printer"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-rounded">
                        <span class="btn-icon"><i class="ti-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-rounded">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <div class="mt-4 mb-4">Thick style</div>
                    <button class="btn btn-outline-info btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                    </button>
                    <button class="btn btn-outline-primary btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="ti-cloud-up"></i>Upload</span>
                    </button>
                    <button class="btn btn-outline-pink btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="ti-printer"></i>Print</span>
                    </button>
                    <button class="btn btn-outline-danger btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="ti-trash"></i>Remove</span>
                    </button>
                    <button class="btn btn-outline-warning btn-fix btn-rounded btn-thick">
                        <span class="btn-icon"><i class="ti-support"></i>Support</span>
                    </button>
                    <div class="mt-4 mb-4">Sizes</div>
                    <div>
                        <button class="btn btn-primary btn-fix btn-lg">
                            <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                        </button>
                        <button class="btn btn-pink btn-fix btn-lg">
                            <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-fix">
                            <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                        </button>
                        <button class="btn btn-pink btn-fix">
                            <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-fix btn-sm">
                            <span class="btn-icon"><i class="ti-pencil"></i>Edit</span>
                        </button>
                        <button class="btn btn-pink btn-fix btn-sm">
                            <span class="btn-icon"><i class="ti-heart"></i>Follow</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical)>.btn {
        margin-bottom: 15px;
        margin-right: 5px;
    }
</style>
