extends ../layout-simple.pug

block variables
  - var pageTitle = 'Error 403'
  - var pageUrl = 'error_403.html'

block content
  .error-content.flexbox
    span.error-icon
    .flex-1
      h1.error-code 403
      h3.font-strong FORBIDDEN
      p.mb-4 You don't have permission to access.
      div
        a.text-primary(href="index.html") Go Homepage

block page_styles
  style.
    body {
      background-color: #fff;
      background-repeat: no-repeat;
      background-image: url(./assets/img/icons/user-lock-2.svg);
      background-position: 80% 10px;
    }
    .error-content {
      max-width: 620px;
      margin: 200px auto 0;
    }
    .error-icon {
      height: 160px;
      width: 160px;
      background-image: url(./assets/img/icons/user-lock.svg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 80px;
    }
    .error-code {
      font-size:120px;
      color: #5c6bc0;
    }
