body {

    // Fixed navbar
    /////////////////

    &.fixed-navbar {
		.header {
		    position: fixed;
		    left: 0;
		    right: 0;
		    top: 0;
		    z-index: 1002;
		}
		.content-wrapper {
		    padding-top:66px;
		}
	}

    // Drawer sidebar
    /////////////////

	&.drawer-sidebar {
		.page-sidebar {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: -150px;
		    margin-top: 0;
		    z-index: 1005;
		    &.shined { left: 0; }
		}
		.content-wrapper {
		    margin-left: 0;
		    min-height: 1650px;
		}
		.page-brand {display:none}
	}	

}
