<div class="page-heading">
    <h1 class="page-title">Alerts</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Basic UI</li>
        <li class="breadcrumb-item">Alerts</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Basic Alerts</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="alert alert-primary"><strong>Primary!</strong><br>This is a primary alert—check it out! </div>
                    <div class="alert alert-secondary"><strong>Secondary!</strong><br>This is a secondary alert—check it out! </div>
                    <div class="alert alert-success"><strong>Success!</strong><br>You successfully read this important alert message. </div>
                    <div class="alert alert-info"><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning"><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-danger"><strong>Danger!</strong><br>Change a few things up and try submitting again. </div>
                    <div class="alert alert-primary"><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink"><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Bordered Style</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="alert alert-primary alert-bordered"><strong>Primary!</strong><br>This is a primary alert—check it out! </div>
                    <div class="alert alert-secondary alert-bordered"><strong>Secondary!</strong><br>This is a secondary alert—check it out! </div>
                    <div class="alert alert-success alert-bordered"><strong>Success!</strong><br>You successfully read this important alert message. </div>
                    <div class="alert alert-info alert-bordered"><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning alert-bordered"><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-danger alert-bordered"><strong>Danger!</strong><br>Change a few things up and try submitting again. </div>
                    <div class="alert alert-primary alert-bordered"><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink alert-bordered"><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Dismissing</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="alert alert-info alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-primary alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="mt-4 mb-4">With Icon</div>
                    <div class="alert alert-info alert-dismissable fade show has-icon"><i class="la la-info alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning alert-dismissable fade show has-icon"><i class="la la-warning alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-primary alert-dismissable fade show has-icon"><i class="la la-check alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink alert-dismissable fade show has-icon"><i class="la la-info-circle alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Dismissing</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="alert alert-info alert-dismissable fade show alert-bordered">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning alert-dismissable fade show alert-bordered">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-primary alert-dismissable fade show alert-bordered">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink alert-dismissable fade show alert-bordered">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="mt-4 mb-4">With Icon</div>
                    <div class="alert alert-info alert-dismissable fade show alert-bordered has-icon"><i class="la la-info alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning alert-dismissable fade show alert-bordered has-icon"><i class="la la-warning alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-primary alert-dismissable fade show alert-bordered has-icon"><i class="la la-check alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink alert-dismissable fade show alert-bordered has-icon"><i class="la la-info-circle alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Additional content</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="alert alert-primary alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button>
                        <h4>Hello!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                        <p>
                            <button class="btn btn-success btn-sm mr-2">i am agree</button>
                            <button class="btn btn-pink btn-sm" data-dismiss="alert">Close</button>
                        </p>
                    </div>
                    <div class="alert alert-info alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button>
                        <h4>Hello!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                        <hr>
                        <div class="d-flex align-items-center justify-content-between">Are you sure?
                            <button class="btn btn-sm btn-outline-pink btn-outline" data-dismiss="alert">Close</button>
                        </div>
                    </div>
                    <div class="alert alert-pink alert-dismissable fade show alert-outline has-icon"><i class="la la-info-circle alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button>
                        <div class="d-flex align-items-center justify-content-between">
                            <div><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                            <div>
                                <button class="btn btn-sm btn-pink btn-rounded" data-dismiss="alert">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info alert-dismissable fade show alert-outline has-icon"><i class="la la-info alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button>
                        <div class="d-flex align-items-center justify-content-between">
                            <div><strong>Well done!</strong><br>This alert needs your attention, but it's not super important.</div>
                            <div>
                                <button class="btn btn-sm btn-info btn-rounded" data-dismiss="alert">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-primary alert-dismissable fade show has-icon"><i class="la la-info-circle alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button>
                        <div class="d-flex align-items-center justify-content-between">
                            <div><strong>Well done!</strong><br>This alert needs your attention, but it's not super important.</div>
                            <div>
                                <button class="btn btn-sm btn-warning btn-rounded" data-dismiss="alert">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Outline Style</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="alert alert-info alert-dismissable fade show alert-outline">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning alert-dismissable fade show alert-outline">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-primary alert-dismissable fade show alert-outline">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink alert-dismissable fade show alert-outline">
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="mt-4 mb-4">With Icon</div>
                    <div class="alert alert-info alert-dismissable fade show alert-outline has-icon"><i class="la la-info alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Info!</strong><br>This alert needs your attention, but it's not super important. </div>
                    <div class="alert alert-warning alert-dismissable fade show alert-outline has-icon"><i class="la la-warning alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Warning!</strong><br>Better check yourself, you're not looking too good. </div>
                    <div class="alert alert-primary alert-dismissable fade show alert-outline has-icon"><i class="la la-check alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                    <div class="alert alert-pink alert-dismissable fade show alert-outline has-icon"><i class="la la-info-circle alert-icon"></i>
                        <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Well done!</strong><br>You successfully read this important alert message.</div>
                </div>
            </div>
        </div>
    </div>
</div>
