<div class="page-heading">
    <h1 class="page-title">Base Form Controls</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Form Controls</li>
        <li class="breadcrumb-item">Base Form Controls</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Base Form Controls</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group mb-4">
                        <label>Base input</label>
                        <input class="form-control" type="text" placeholder="Base input">
                    </div>
                    <div class="form-group mb-4">
                        <label>With Help text</label>
                        <input class="form-control" type="text" placeholder="Base input">
                        <span class="help-block">This is some placeholder block-level help text for the above input.</span>
                    </div>
                    <div class="form-group mb-4">
                        <label>Rounded input</label>
                        <input class="form-control form-control-rounded" type="text" placeholder="Rounded input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Static control</label>
                        <p class="form-control-static">email@example.com</p>
                    </div>
                    <div class="form-group mb-4">
                        <label>Base select</label>
                        <select class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Multiple select</label>
                        <select class="form-control" multiple="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Textarea</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Air Style Controls</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group mb-4">
                        <label>Base input</label>
                        <input class="form-control form-control-air" type="text" placeholder="Base input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Rounded</label>
                        <input class="form-control form-control-rounded form-control-air" type="text" placeholder="Rounded input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Base select</label>
                        <select class="form-control form-control-air">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Multiple select</label>
                        <select class="form-control form-control-air" multiple="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Textarea</label>
                        <textarea class="form-control form-control-air" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Sizing</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group mb-4">
                        <label>Large input</label>
                        <input class="form-control form-control-lg" type="text" placeholder="Large input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Base input</label>
                        <input class="form-control" type="text" placeholder="Base input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Small input</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Small input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Large select</label>
                        <select class="form-control form-control-lg">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Base select</label>
                        <select class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Small select</label>
                        <select class="form-control form-control-sm">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Line Style Controls</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group mb-4">
                        <input class="form-control form-control-line" type="text" placeholder="Line input">
                    </div>
                    <div class="form-group mb-4">
                        <select class="form-control form-control-line">
                            <option>Line select</option>
                            <option>option</option>
                            <option>option</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <textarea class="form-control form-control-line" rows="3" placeholder="Line textarea"></textarea>
                    </div>
                    <div class="form-group has-success mb-4">
                        <input class="form-control form-control-line" type="text" placeholder="Success State">
                    </div>
                    <div class="form-group has-warning mb-4">
                        <input class="form-control form-control-line" type="text" placeholder="Warning State">
                    </div>
                    <div class="form-group has-error mb-4">
                        <input class="form-control form-control-line" type="text" placeholder="Error State">
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Solid Style Controls</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group mb-4">
                        <label>Base input</label>
                        <input class="form-control form-control-solid" type="text" placeholder="Base input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Rounded</label>
                        <input class="form-control form-control-rounded form-control-solid" type="text" placeholder="Rounded input">
                    </div>
                    <div class="form-group mb-4">
                        <label>Base select</label>
                        <select class="form-control form-control-solid">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Multiple select</label>
                        <select class="form-control form-control-solid" multiple="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label>Textarea</label>
                        <textarea class="form-control form-control-solid" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Custom File inputs</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group mb-4">
                        <label class="btn btn-info file-input mr-2">
                            <span class="btn-icon"><i class="la la-upload"></i>Browse file</span>
                            <input type="file">
                        </label>
                        <label class="btn btn-primary file-input mr-2">
                            <span class="btn-icon"><i class="la la-cloud-upload"></i>Browse file</span>
                            <input type="file">
                        </label>
                        <label class="btn btn-gradient-purple file-input">
                            <span class="btn-icon"><i class="la la-camera"></i>Browse</span>
                            <input type="file">
                        </label>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Form Controls States</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group has-success mb-4">
                        <label class="col-form-label">Success State</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group has-warning mb-4">
                        <label class="col-form-label">Warning State</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group has-error mb-4">
                        <label class="col-form-label">Error State</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="text-muted mb-4">States with icons</div>
                    <div class="form-group has-success mb-4">
                        <label class="col-form-label">Success State</label>
                        <div class="input-group-icon input-group-icon-right">
                            <span class="input-icon input-icon-right text-success"><i class="ti-check"></i></span>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group has-warning mb-4">
                        <label class="col-form-label">Warning State</label>
                        <div class="input-group-icon input-group-icon-right">
                            <span class="input-icon input-icon-right text-warning"><i class="la la-warning font-16"></i></span>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group has-error mb-4">
                        <label class="col-form-label">Error State</label>
                        <div class="input-group-icon input-group-icon-right">
                            <span class="input-icon input-icon-right text-danger"><i class="ti-info-alt"></i></span>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
