<div class="page-content fade-in-up">
    <div class="flexbox-b mb-5">
        <span class="mr-4 static-badge badge-pink"><i class="la la-trophy"></i></span>
        <div>
            <h5 class="font-strong">PRICING TABLE</h5>
            <div class="text-light">Perfect and easy pricing tables for your business</div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
                <span class="btn-icon-only btn-circle bg-gradient-blue text-white mr-3"><i class="la la-leaf"></i></span>PRICING TABLE</div>
        </div>
        <div class="ibox-body">
            <div class="row justify-content-center py-5">
                <div class="col-xl-11">
                    <div class="row pricing-plan-1">
                        <div class="col-md-4 pricing-plan">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">BASIC</h3>
                                    <div class="text-muted mb-4">Month for free</div>
                                    <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                        <h1 class="font-strong text-blue mb-0 mr-2"><sup>$</sup>26</h1>
                                        <span class="text-muted">/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-gradient-blue btn-rounded btn-air">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-plan active">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">BUSINESS</h3>
                                    <div class="mb-4">For Starter Business</div>
                                    <div class="ibox-fullwidth-block p-3 d-flex align-items-center justify-content-center price-number">
                                        <h1 class="font-strong mb-0 mr-2"><sup>$</sup>45</h1>
                                        <span>/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-white btn-rounded">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-plan">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">EXTENDED</h3>
                                    <div class="text-muted mb-4">For a Big Project</div>
                                    <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                        <h1 class="font-strong text-blue mb-0 mr-2"><sup>$</sup>80</h1>
                                        <span class="text-muted">/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-gradient-blue btn-rounded btn-air">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
                <span class="btn-icon-only btn-circle bg-gradient-purple text-white mr-3"><i class="la la-music"></i></span>PRICING TABLES</div>
        </div>
        <div class="ibox-body">
            <div class="row justify-content-center py-5">
                <div class="col-xl-11">
                    <div class="row pricing-plan-2">
                        <div class="col-md-4 pricing-plan">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">BASIC</h3>
                                    <div class="text-muted mb-4">Month for free</div>
                                    <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                        <h1 class="font-strong text-primary mb-0 mr-2"><sup>$</sup>26</h1>
                                        <span class="text-muted">/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-gradient-purple btn-rounded btn-air">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-plan active">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">BUSINESS</h3>
                                    <div class="mb-4">For Starter Business</div>
                                    <div class="ibox-fullwidth-block p-3 d-flex align-items-center justify-content-center price-number">
                                        <h1 class="font-strong mb-0 mr-2"><sup>$</sup>45</h1>
                                        <span>/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-white btn-rounded">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-plan">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">EXTENDED</h3>
                                    <div class="text-muted mb-4">For a Big Project</div>
                                    <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                        <h1 class="font-strong text-primary mb-0 mr-2"><sup>$</sup>80</h1>
                                        <span class="text-muted">/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-gradient-purple btn-rounded btn-air">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
                <span class="btn-icon-only btn-circle bg-gradient-peach text-white mr-3"><i class="la la-fire"></i></span>PRICING TABLE</div>
        </div>
        <div class="ibox-body">
            <div class="row justify-content-center py-5">
                <div class="col-xl-11">
                    <div class="row pricing-plan-3">
                        <div class="col-md-4 pricing-plan">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">BASIC</h3>
                                    <div class="text-muted mb-4">Month for free</div>
                                    <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                        <h1 class="font-strong text-pink mb-0 mr-2"><sup>$</sup>26</h1>
                                        <span class="text-muted">/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-gradient-peach btn-rounded btn-air">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-plan active">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">BUSINESS</h3>
                                    <div class="mb-4">For Starter Business</div>
                                    <div class="ibox-fullwidth-block p-3 d-flex align-items-center justify-content-center price-number">
                                        <h1 class="font-strong mb-0 mr-2"><sup>$</sup>45</h1>
                                        <span>/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-white btn-rounded">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-plan">
                            <div class="ibox">
                                <div class="ibox-body text-center">
                                    <h3 class="font-strong">EXTENDED</h3>
                                    <div class="text-muted mb-4">For a Big Project</div>
                                    <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                        <h1 class="font-strong text-pink mb-0 mr-2"><sup>$</sup>80</h1>
                                        <span class="text-muted">/ mo</span>
                                    </div>
                                    <div class="py-5">
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>24/7 Support</div>
                                        <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Advanced settings</div>
                                    </div>
                                    <button class="btn btn-gradient-peach btn-rounded btn-air">PURCHASE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pricing-plan {
        padding: 0;
        border: 1px solid rgba(0, 0, 0, .1);
    }

    .pricing-plan.active {
        box-shadow: 0 5px 20px #d6dee4;
        z-index: 2;
        transform: scale(1.05);
        background-image: linear-gradient(45deg, #00dcaf 0, #7536e6 100%);
        color: #fff;
        border: 0;
    }

    .pricing-plan.active .ibox {
        background-color: inherit;
    }

    .pricing-plan .ibox {
        box-shadow: none
    }

    .pricing-plan.active .price-number {
        background-color: rgba(0, 0, 0, .1);
    }

    .pricing-plan-1 .pricing-plan.active {
        background-image: linear-gradient(45deg, #00dcaf 0, #7536e6 100%);
    }

    .pricing-plan-2 .pricing-plan.active {
        background-image: linear-gradient(45deg, #ff4081 0, #7536e6 100%);
    }

    .pricing-plan-3 .pricing-plan.active {
        background-image: linear-gradient(45deg, #f39c12 0, #e91e63 100%);
    }
</style>
