// START SEARCH PANEL
form(action='search.html').search-top-bar
  input.form-control.search-input(type="text" placeholder="Search...")
  button.reset.input-search-icon: i.ti-search
  button(type="button").reset.input-search-close: i.ti-close
// END SEARCH PANEL