<div class="page-heading">
    <h1 class="page-title">Button Groups</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Buttons</li>
        <li class="breadcrumb-item">Button Groups</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row btn-list-demo dropdown-demo">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Button Groups</div>
                </div>
                <div class="ibox-body">
                    <h6 class="mb-4">Basic Example</h6>
                    <div class="btn-group mb-3 mr-2">
                        <div class="btn btn-secondary">Left</div>
                        <div class="btn btn-secondary">Middle</div>
                        <div class="btn btn-secondary">Right</div>
                    </div>
                    <div class="btn-group mb-3">
                        <div class="btn btn-pink">Left</div>
                        <div class="btn btn-pink">Middle</div>
                        <div class="btn btn-pink">Right</div>
                    </div><br>
                    <div class="btn-group">
                        <div class="btn btn-outline-info">Left</div>
                        <div class="btn btn-outline-info">Middle</div>
                        <div class="btn btn-outline-info">Right</div>
                    </div>
                    <h6 class="mb-4 mt-5">Button toolbars</h6>
                    <div class="btn-toolbar mb-3">
                        <div class="btn-group mr-2 mb-2">
                            <div class="btn btn-secondary"><i class="ti-wand"></i></div>
                            <div class="btn btn-secondary"><i class="ti-brush-alt"></i></div>
                            <div class="btn btn-secondary"><i class="ti-files"></i></div>
                            <div class="btn btn-secondary"><i class="ti-image"></i></div>
                            <div class="btn btn-secondary"><i class="ti-link"></i></div>
                        </div>
                        <div class="btn-group mb-2">
                            <div class="btn btn-secondary"><i class="ti-export"></i></div>
                            <div class="btn btn-secondary"><i class="ti-printer"></i></div>
                            <div class="btn btn-secondary"><i class="ti-zip"></i></div>
                        </div>
                    </div>
                    <div class="btn-toolbar mb-3">
                        <div class="btn-group mr-2 mb-2">
                            <div class="btn btn-outline-secondary"><i class="ti-wand"></i></div>
                            <div class="btn btn-outline-secondary"><i class="ti-brush-alt"></i></div>
                            <div class="btn btn-outline-secondary"><i class="ti-files"></i></div>
                            <div class="btn btn-outline-secondary"><i class="ti-image"></i></div>
                            <div class="btn btn-outline-secondary"><i class="ti-link"></i></div>
                        </div>
                        <div class="btn-group mb-2">
                            <div class="btn btn-outline-secondary"><i class="ti-export"></i></div>
                            <div class="btn btn-outline-secondary"><i class="ti-printer"></i></div>
                            <div class="btn btn-outline-secondary"><i class="ti-zip"></i></div>
                        </div>
                    </div>
                    <div class="btn-toolbar mb-3">
                        <div class="btn-group mr-2 mb-2">
                            <div class="btn btn-primary"><i class="ti-align-right"></i></div>
                            <div class="btn btn-primary"><i class="ti-align-center"></i></div>
                            <div class="btn btn-primary"><i class="ti-align-left"></i></div>
                            <div class="btn btn-primary"><i class="ti-align-justify"></i></div>
                        </div>
                        <div class="btn-group mb-2">
                            <div class="btn btn-primary"><i class="ti-text"></i></div>
                            <div class="btn btn-primary"><i class="ti-underline"></i></div>
                            <div class="btn btn-primary"><i class="ti-Italic"></i></div>
                            <div class="btn-group">
                                <div class="btn btn-primary dropdon-toggle dropdown-arrow" data-toggle="dropdown">Fonts</div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:;">Arial</a>
                                    <a class="dropdown-item" href="javascript:;">Verdena</a>
                                    <a class="dropdown-item" href="javascript:;">Sans Serif</a>
                                    <a class="dropdown-item" href="javascript:;">Tahoma</a>
                                    <a class="dropdown-item" href="javascript:;">Arial Black</a>
                                    <a class="dropdown-item" href="javascript:;">Helvetica</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar mb-3">
                        <div class="btn-group mr-2 mb-2">
                            <div class="btn btn-info">1</div>
                            <div class="btn btn-info">2</div>
                            <div class="btn btn-info">3</div>
                            <div class="btn btn-info">4</div>
                        </div>
                        <div class="btn-group mb-2">
                            <div class="btn btn-info">5</div>
                            <div class="btn btn-info">6</div>
                            <div class="btn btn-info">7</div>
                        </div>
                    </div>
                    <div class="btn-group mb-3">
                        <div class="btn btn-pink">
                            <span class="btn-icon"><i class="la la-backward"></i>Back</span>
                        </div>
                        <div class="btn btn-pink">
                            <span class="btn-icon"><i class="la la-play"></i>Play</span>
                        </div>
                        <div class="btn btn-pink">
                            <span class="btn-icon btn-icon-right">Next<i class="la la-forward"></i></span>
                        </div>
                    </div><br>
                    <div class="btn-group mb-3">
                        <div class="btn btn-primary btn-labeled btn-labeled-left btn-icon">
                            <span class="btn-label"><i class="la la-step-backward"></i></span>Back</div>
                        <div class="btn btn-primary">
                            <span class="btn-icon"><i class="la la-pause"></i>Stop</span>
                        </div>
                        <div class="btn btn-primary btn-labeled btn-labeled-right btn-icon">
                            <span class="btn-label"><i class="la la-step-forward"></i></span>Next</div>
                    </div>
                    <h6 class="mb-4 mt-5">Rounded & air style</h6>
                    <div class="btn-group btn-rounded mr-2 mb-3">
                        <div class="btn btn-warning">Left</div>
                        <div class="btn btn-warning">Middle</div>
                        <div class="btn btn-warning">Right</div>
                    </div>
                    <div class="btn-group btn-rounded btn-air mb-3">
                        <div class="btn btn-primary">Left</div>
                        <div class="btn btn-primary">Middle</div>
                        <div class="btn btn-primary">Right</div>
                    </div><br>
                    <div class="btn-group btn-rounded mr-2 mb-3">
                        <div class="btn btn-outline-danger">Left</div>
                        <div class="btn btn-outline-danger">Middle</div>
                        <div class="btn btn-outline-danger">Right</div>
                    </div><br>
                    <div class="btn-toolbar mb-3">
                        <div class="btn-group btn-rounded mr-2 mb-2">
                            <div class="btn btn-info">1</div>
                            <div class="btn btn-info">2</div>
                            <div class="btn btn-info">3</div>
                            <div class="btn btn-info">4</div>
                        </div>
                        <div class="btn-group btn-rounded mb-2 mr-2">
                            <div class="btn btn-info">5</div>
                            <div class="btn btn-info">6</div>
                            <div class="btn btn-info">7</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Button Groups</div>
                </div>
                <div class="ibox-body">
                    <h6 class="mb-4">Vertical variation</h6>
                    <div class="btn-group-vertical mr-3 mb-3">
                        <div class="btn btn-secondary">Button</div>
                        <div class="btn btn-secondary">Button</div>
                        <div class="btn-group">
                            <div class="btn btn-secondary dropdon-toggle dropdown-arrow" data-toggle="dropdown">More</div>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:;">Dropdown Link</a>
                                <a class="dropdown-item" href="javascript:;">Dropdown Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group-vertical mb-3 mr-3">
                        <div class="btn btn-primary">
                            <span class="btn-icon m-0"><i class="la la-cloud-download"></i>Download</span>
                        </div>
                        <div class="btn btn-primary">
                            <span class="btn-icon m-0"><i class="la la-comments"></i>Comment</span>
                        </div>
                        <div class="btn btn-primary">
                            <span class="btn-icon m-0"><i class="la la-heart-o"></i>Follow</span>
                        </div>
                    </div>
                    <div class="btn-group-vertical mb-3">
                        <div class="btn btn-pink btn-labeled btn-labeled-left btn-icon">
                            <span class="btn-label"><i class="la la-upload"></i></span>Export</div>
                        <div class="btn btn-pink btn-labeled btn-labeled-left btn-icon">
                            <span class="btn-label"><i class="la la-file-zip-o"></i></span>Zip</div>
                        <div class="btn btn-pink btn-labeled btn-labeled-left btn-icon">
                            <span class="btn-label"><i class="la la-print"></i></span>Print</div>
                    </div><br>
                    <div class="btn-group-vertical mb-3 mr-3">
                        <div class="btn btn-info"><i class="la la-car font-18"></i></div>
                        <div class="btn btn-info"><i class="la la-bus font-18"></i></div>
                        <div class="btn btn-info"><i class="la la-plane font-18"></i></div>
                    </div>
                    <div class="btn-group-vertical mb-3">
                        <div class="btn btn-primary"><i class="ti-gift"></i></div>
                        <div class="btn btn-primary"><i class="ti-bell"></i></div>
                        <div class="btn btn-primary"><i class="ti-support"></i></div>
                    </div>
                    <h6 class="mb-2 mt-4">Sizing</h6>
                    <p>Instead of applying button sizing classes to every button in a group, just add <code>.btn-group-*</code> to each <code>.btn-group</code>, including each one when nesting multiple groups.</p>
                    <div class="btn-group btn-group-lg mb-3">
                        <div class="btn btn-secondary">Left</div>
                        <div class="btn btn-secondary">Middle</div>
                        <div class="btn btn-secondary">Right</div>
                    </div><br>
                    <div class="btn-group mb-3">
                        <div class="btn btn-secondary">Left</div>
                        <div class="btn btn-secondary">Middle</div>
                        <div class="btn btn-secondary">Right</div>
                    </div><br>
                    <div class="btn-group btn-group-sm mb-3">
                        <div class="btn btn-secondary">Left</div>
                        <div class="btn btn-secondary">Middle</div>
                        <div class="btn btn-secondary">Right</div>
                    </div><br></div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical)>.btn {
        margin-bottom: 15px;
        margin-right: 5px;
    }

    .dropdown-demo .dropdown {
        display: inline-block
    }
</style>
