li.dropdown.dropdown-inbox
  a.nav-link(data-toggle='dropdown').dropdown-toggle.toolbar-icon
    i.ti-email
    span.envelope-badge 7
  .dropdown-menu.dropdown-menu-right.dropdown-menu-media
    .dropdown-arrow
    .dropdown-header.text-center
      div
        span.font-18 <strong>7 New</strong> Messages
      a(href='javascript:;').text-muted.font-13 view all
    .media-list.media-list-divider.scroller(data-height='350px' data-color="#71808f")
        a.media.p-3
            .media-img
              +img('users/u8.jpg')(class='img-circle')
            .media-body
              .media-heading
                | Lynn Weaver
                small.text-muted.float-right Just now
              .font-13.text-muted Your proposal interested me.
              .font-13.mt-1
                span.d-inline-flex.align-items-center.text-primary
                  i.ti-support.mr-2
                  | Support
        a.media.p-3
            .media-img
              +img('users/u6.jpg')(class='img-circle')
            .media-body
              .font-strong
                | Connor Perez
                small.text-muted.float-right 18 mins
              .font-13.text-muted Your proposal interested me.
              .font-13.mt-1
                span.d-inline-flex.align-items-center.text-success.mr-3
                  i.ti-lock.mr-2
                  | Security
                span.d-inline-flex.align-items-center.text-pink
                  i.ti-credit-card.mr-2
                  | Payment
        a.media.p-3
            .media-img
              +img('users/u11.jpg')(class='img-circle')
            .media-body
              .font-strong
                | Tyrone Carroll
                small.text-muted.float-right 42 mins
              .font-13.text-muted Your proposal interested me.
        a.media.p-3
            .media-img
              +img('users/u10.jpg')(class='img-circle')
            .media-body
              .font-strong
                | Stella Obrien
                small.text-muted.float-right 1 hrs
              .font-13.text-muted Your proposal interested me.
              .font-13.mt-1
                span.d-inline-flex.align-items-center.text-purple
                  i.ti-settings.mr-2
                  | Technical
        a.media.p-3
            .media-img
              +img('users/u2.jpg')(class='img-circle')
            .media-body
              .font-strong
                | Becky Brooks
                small.text-muted.float-right 3 hrs
              .font-13.text-muted Your proposal interested me.
        a.media.p-3
            .media-img
              +img('users/u5.jpg')(class='img-circle')
            .media-body
              .font-strong
                | Bob Gonzalez
                small.text-muted.float-right 3 hrs
              .font-13.text-muted Your proposal interested me.
              .font-13.mt-1
                span.d-inline-flex.align-items-center.text-primary.mr-3
                  i.ti-support.mr-2
                  | Support
                span.d-inline-flex.align-items-center.text-pink
                  i.ti-shopping-cart.mr-2
                  | Shopping
        a.media.p-3
            .media-img
              +img('users/u9.jpg')(class='img-circle')
            .media-body
              .font-strong
                | Tammy Newman
                small.text-muted.float-right 3 hrs
              .font-13.text-muted Your proposal interested me.
              .font-13.mt-1
                span.d-inline-flex.align-items-center.text-primary
                  i.ti-ticket.mr-2
                  | Client Support
