<div class="page-heading">
    <h1 class="page-title">Air Style Buttons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Buttons</li>
        <li class="breadcrumb-item">Air Style</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row btn-list-demo">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Base Buttons</div>
                </div>
                <div class="ibox-body">
                    <p>Add class <code>.btn-air</code> for air style buttons.</p>
                    <div class="mb-4">Base State Buttons</div>
                    <button class="btn btn-primary btn-air">Primary</button>
                    <button class="btn btn-secondary btn-air">Secondary</button>
                    <button class="btn btn-pink btn-air">Pink</button>
                    <button class="btn btn-success btn-air">Success</button>
                    <button class="btn btn-info btn-air">Info</button>
                    <button class="btn btn-warning btn-air">Warning</button>
                    <button class="btn btn-danger btn-air">Danger</button>
                    <button class="btn btn-blue btn-air">Blue</button>
                    <div class="mt-3 mb-2">Long style</div>
                    <p>Add class <code>.btn-fix</code> for the minimum fixed width</p>
                    <button class="btn btn-primary btn-fix btn-air">Primary</button>
                    <button class="btn btn-secondary btn-fix btn-air">Secondary</button>
                    <button class="btn btn-pink btn-fix btn-air">Pink</button>
                    <button class="btn btn-success btn-fix btn-air">Success</button>
                    <button class="btn btn-info btn-fix btn-air">Info</button>
                    <button class="btn btn-warning btn-fix btn-air">Warning</button>
                    <button class="btn btn-danger btn-fix btn-air">Danger</button>
                    <button class="btn btn-blue btn-fix btn-air">Blue</button>
                    <div class="mt-4 mb-4">Gradient Buttons</div>
                    <button class="btn btn-gradient-purple btn-air btn-fix">PURPLE</button>
                    <button class="btn btn-gradient-peach btn-air btn-fix">PEACH</button>
                    <button class="btn btn-gradient-aqua btn-air btn-fix">AQUA</button>
                    <button class="btn btn-gradient-blue btn-air btn-fix">BLUE</button>
                    <button class="btn btn-gradient-silver btn-air btn-fix">SILVER</button>
                    <button class="btn btn-gradient-lime btn-air btn-fix">LIME</button>
                    <button class="btn btn-gradient-blue-pink btn-air btn-fix">BLUE-PINK</button>
                    <button class="btn btn-gradient-blue2 btn-air btn-fix">BLUE 2</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Outline Buttons</div>
                </div>
                <div class="ibox-body">
                    <button class="btn btn-outline-primary btn-air">Primary</button>
                    <button class="btn btn-outline-secondary btn-air">Secondary</button>
                    <button class="btn btn-outline-success btn-air">Success</button>
                    <button class="btn btn-outline-info btn-air">Info</button>
                    <button class="btn btn-outline-warning btn-air">Warning</button>
                    <button class="btn btn-outline-danger btn-air">Danger</button>
                    <button class="btn btn-outline-blue btn-air">Blue</button>
                    <button class="btn btn-outline-pink btn-air">Pink</button>
                    <div class="mb-4 mt-3">Long style</div>
                    <button class="btn btn-outline-primary btn-fix btn-air">Primary</button>
                    <button class="btn btn-outline-secondary btn-fix btn-air">Secondary</button>
                    <button class="btn btn-outline-success btn-fix btn-air">Success</button>
                    <button class="btn btn-outline-info btn-fix btn-air">Info</button>
                    <button class="btn btn-outline-warning btn-fix btn-air">Warning</button>
                    <button class="btn btn-outline-danger btn-fix btn-air">Danger</button>
                    <button class="btn btn-outline-blue btn-fix btn-air">Blue</button>
                    <button class="btn btn-outline-pink btn-fix btn-air">Pink</button>
                    <div class="mt-4 mb-2">Thick style</div>
                    <p>Add class <code>.btn-thick</code> for the thick border</p>
                    <button class="btn btn-outline-primary btn-fix btn-thick btn-air">Primary</button>
                    <button class="btn btn-outline-secondary btn-fix btn-thick btn-air">Secondary</button>
                    <button class="btn btn-outline-success btn-fix btn-thick btn-air">Success</button>
                    <button class="btn btn-outline-info btn-fix btn-thick btn-air">Info</button>
                    <button class="btn btn-outline-warning btn-fix btn-thick btn-air">Warning</button>
                    <button class="btn btn-outline-danger btn-fix btn-thick btn-air">Danger</button>
                    <button class="btn btn-outline-blue btn-fix btn-thick btn-air">Blue</button>
                    <button class="btn btn-outline-pink btn-fix btn-thick btn-air">Pink</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Block Buttons</div>
                </div>
                <div class="ibox-body">
                    <p>add class <code>.btn-block</code> for block level buttons.</p>
                    <button class="btn btn-info btn-block btn-air">Block Button</button>
                    <button class="btn btn-primary btn-block btn-air">Block Button</button>
                    <button class="btn btn-outline-default btn-block btn-air">Block Button</button>
                    <button class="btn btn-outline-pink btn-block btn-air">Block Button</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Button Sizes</div>
                </div>
                <div class="ibox-body">
                    <p>Add class <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.</p>
                    <button class="btn btn-primary btn-lg btn-air">Large Button</button>
                    <button class="btn btn-info btn-lg btn-air">Large Button</button>
                    <button class="btn btn-outline-pink btn-lg btn-air">Large Button</button>
                    <button class="btn btn-secondary btn-lg btn-air">Large Button</button>
                    <div class="mt-4 mb-4">Default size</div>
                    <button class="btn btn-primary btn-air">Default Button</button>
                    <button class="btn btn-info btn-air">Default Button</button>
                    <button class="btn btn-outline-pink btn-air">Default Button</button>
                    <button class="btn btn-secondary btn-air">Default Button</button>
                    <div class="mt-4 mb-4">Small size</div>
                    <button class="btn btn-primary btn-sm btn-air">Small Button</button>
                    <button class="btn btn-info btn-sm btn-air">Small Button</button>
                    <button class="btn btn-outline-pink btn-sm btn-air">Small Button</button>
                    <button class="btn btn-secondary btn-sm btn-air">Small Button</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Button States</div>
                </div>
                <div class="ibox-body">
                    <div class="mt-4 mb-4">Default state</div>
                    <button class="btn btn-secondary btn-air">Default</button>
                    <button class="btn btn-success btn-air">Default</button>
                    <button class="btn btn-info btn-air">Default</button>
                    <button class="btn btn-warning btn-air">Default</button>
                    <button class="btn btn-primary btn-air">Default</button>
                    <button class="btn btn-pink btn-air">Default</button>
                    <div class="mt-4 mb-4">Active state</div>
                    <button class="btn btn-secondary btn-air active">Active</button>
                    <button class="btn btn-success btn-air active">Active</button>
                    <button class="btn btn-info btn-air active">Active</button>
                    <button class="btn btn-warning btn-air active">Active</button>
                    <button class="btn btn-primary btn-air active">Active</button>
                    <button class="btn btn-pink btn-air active">Active</button>
                    <div class="mt-4 mb-4">Disabled state</div>
                    <button class="btn btn-secondary btn-air" disabled>Disabled</button>
                    <button class="btn btn-success btn-air" disabled>Disabled</button>
                    <button class="btn btn-info btn-air" disabled>Disabled</button>
                    <button class="btn btn-warning btn-air" disabled>Disabled</button>
                    <button class="btn btn-primary btn-air" disabled>Disabled</button>
                    <button class="btn btn-pink btn-air" disabled>Disabled</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Checkbox and radio buttons</div>
                </div>
                <div class="ibox-body">
                    <div class="mt-4 mb-4">Toggle State</div>
                    <button class="btn btn-info btn-air" data-toggle="button">
                        <span class="active-hidden">
                            <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                        </span>
                        <span class="active-visible">
                            <span class="btn-icon"><i class="ti-check"></i>Uploaded</span>
                        </span>
                    </button>
                    <button class="btn btn-pink btn-air" data-toggle="button">
                        <span class="active-hidden">Follow</span>
                        <span class="active-visible">
                            <span class="btn-icon"><i class="ti-heart-broken"></i>Unfollow</span>
                        </span>
                    </button>
                    <button class="btn btn-primary btn-icon-only btn-circle btn-air" data-toggle="button">
                        <span class="active-hidden"><i class="la la-music"></i></span>
                        <span class="active-visible"><i class="la la-pause"></i></span>
                    </button>
                    <div class="mt-4 mb-4">Checkbox buttons</div>
                    <div class="btn-group btn-air" data-toggle="buttons">
                        <label class="btn btn-info">CHECKBOX 1
                            <input type="checkbox">
                        </label>
                        <label class="btn btn-info">CHECKBOX 2
                            <input type="checkbox">
                        </label>
                        <label class="btn btn-info">CHECKBOX 3
                            <input type="checkbox">
                        </label>
                    </div>
                    <div class="mt-4 mb-4">Radio buttons</div>
                    <div class="btn-group btn-air mb-4" data-toggle="buttons">
                        <label class="btn btn-primary">RADIO 1
                            <input type="radio">
                        </label>
                        <label class="btn btn-primary active">RADIO 2
                            <input type="radio" checked="">
                        </label>
                        <label class="btn btn-primary">RADIO 3
                            <input type="radio">
                        </label>
                    </div>
                    <div class="btn-group btn-air" data-toggle="buttons">
                        <label class="btn btn-outline-pink"><i class="ti-check active-visible"></i> Male
                            <input type="radio">
                        </label>
                        <label class="btn btn-outline-pink"><i class="ti-check active-visible"></i> Female
                            <input type="radio">
                        </label>
                        <label class="btn btn-outline-pink"><i class="ti-check active-visible"></i> N/A
                            <input type="radio">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical)>.btn {
        margin-bottom: 15px;
        margin-right: 5px;
    }
</style>
