<div class="page-content fade-in-up">
    <div class="flexbox-b mb-5">
        <span class="mr-4 static-badge badge-pink"><i class="ti-comments-smiley"></i></span>
        <div>
            <h5 class="font-strong">Icons</h5>
            <div class="text-light">3 most popular Icons sets. Much you do not need :) It's almost 2000 icons</div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-4 mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-center">FontAwesome Icons v4.7.0</h5>
                            <div class="icons-preview">
                                <div class="icon-item"><i class="fa fa-bar-chart"></i></div>
                                <div class="icon-item"><i class="fa fa-calendar"></i></div>
                                <div class="icon-item"><i class="fa fa-envelope-open-o"></i></div>
                                <div class="icon-item"><i class="fa fa-heart-o"></i></div>
                                <div class="icon-item"><i class="fa fa-bars"></i></div>
                                <div class="icon-item"><i class="fa fa-search"></i></div>
                                <div class="icon-item"><i class="fa fa-bullhorn"></i></div>
                                <div class="icon-item"><i class="fa fa-file-text-o"></i></div>
                                <div class="icon-item"><i class="fa fa-bell-o"></i></div>
                            </div>
                            <div class="text-center mt-2">
                                <a class="btn btn-sm btn-primary" href="http://fontawesome.io/icons" target="_blank">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-4 mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-center">LineAwesome Icons v1.1.0</h5>
                            <div class="icons-preview">
                                <div class="icon-item"><i class="la la-ambulance"></i></div>
                                <div class="icon-item"><i class="la la-anchor"></i></div>
                                <div class="icon-item"><i class="la la-android"></i></div>
                                <div class="icon-item"><i class="la la-calendar-plus-o"></i></div>
                                <div class="icon-item"><i class="la la-arrows-alt"></i></div>
                                <div class="icon-item"><i class="la la-bell"></i></div>
                                <div class="icon-item"><i class="la la-briefcase"></i></div>
                                <div class="icon-item"><i class="la la-bullhorn"></i></div>
                                <div class="icon-item"><i class="la la-camera-retro"></i></div>
                            </div>
                            <div class="text-center mt-2">
                                <a class="btn btn-sm btn-primary" href="https://ru.icons8.com/line-awesome" target="_blank">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-4 mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-center">Themify Icons</h5>
                            <div class="icons-preview">
                                <div class="icon-item"><i class="ti-shopping-cart"></i></div>
                                <div class="icon-item"><i class="ti-paint-roller"></i></div>
                                <div class="icon-item"><i class="ti-lock"></i></div>
                                <div class="icon-item"><i class="ti-user"></i></div>
                                <div class="icon-item"><i class="ti-comment-alt"></i></div>
                                <div class="icon-item"><i class="ti-stats-up"></i></div>
                                <div class="icon-item"><i class="ti-menu"></i></div>
                                <div class="icon-item"><i class="ti-server"></i></div>
                                <div class="icon-item"><i class="ti-paint-bucket"></i></div>
                            </div>
                            <div class="text-center mt-2">
                                <a class="btn btn-sm btn-primary" href="https://themify.me/themify-icons" target="_blank">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .icons-preview {
        display: flex;
        flex-wrap: wrap
    }

    .icons-preview>.icon-item {
        height: 50px;
        line-height: 50px;
        width: 80px;
        font-size: 30px;
        background-color: #ebedee;
        margin: 5px;
        text-align: center;
    }
</style>
