<div class="page-heading">
    <h1 class="page-title">Rounded Style Buttons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Buttons</li>
        <li class="breadcrumb-item">Rounded Style</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row btn-list-demo">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Base Buttons</div>
                </div>
                <div class="ibox-body">
                    <p>Add class <code>.btn-rounded</code> for rounded buttons.</p>
                    <div class="mb-4">Base State Buttons</div>
                    <button class="btn btn-primary btn-rounded">Primary</button>
                    <button class="btn btn-secondary btn-rounded">Secondary</button>
                    <button class="btn btn-pink btn-rounded">Pink</button>
                    <button class="btn btn-success btn-rounded">Success</button>
                    <button class="btn btn-info btn-rounded">Info</button>
                    <button class="btn btn-warning btn-rounded">Warning</button>
                    <button class="btn btn-danger btn-rounded">Danger</button>
                    <button class="btn btn-blue btn-rounded">Blue</button>
                    <div class="mt-3 mb-2">Long style</div>
                    <p>Add class <code>.btn-fix</code> for the minimum fixed width</p>
                    <button class="btn btn-primary btn-fix btn-rounded">Primary</button>
                    <button class="btn btn-secondary btn-fix btn-rounded">Secondary</button>
                    <button class="btn btn-pink btn-fix btn-rounded">Pink</button>
                    <button class="btn btn-success btn-fix btn-rounded">Success</button>
                    <button class="btn btn-info btn-fix btn-rounded">Info</button>
                    <button class="btn btn-warning btn-fix btn-rounded">Warning</button>
                    <button class="btn btn-danger btn-fix btn-rounded">Danger</button>
                    <button class="btn btn-blue btn-fix btn-rounded">Blue</button>
                    <div class="mt-4 mb-4">Gradient Buttons</div>
                    <button class="btn btn-gradient-purple btn-rounded btn-fix">PURPLE</button>
                    <button class="btn btn-gradient-peach btn-rounded btn-fix">PEACH</button>
                    <button class="btn btn-gradient-aqua btn-rounded btn-fix">AQUA</button>
                    <button class="btn btn-gradient-blue btn-rounded btn-fix">BLUE</button>
                    <button class="btn btn-gradient-silver btn-rounded btn-fix">SILVER</button>
                    <button class="btn btn-gradient-lime btn-rounded btn-fix">LIME</button>
                    <button class="btn btn-gradient-blue-pink btn-rounded btn-fix">BLUE-PINK</button>
                    <button class="btn btn-gradient-blue2 btn-rounded btn-fix">BLUE 2</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Outline Buttons</div>
                </div>
                <div class="ibox-body">
                    <button class="btn btn-outline-primary btn-rounded">Primary</button>
                    <button class="btn btn-outline-secondary btn-rounded">Secondary</button>
                    <button class="btn btn-outline-success btn-rounded">Success</button>
                    <button class="btn btn-outline-info btn-rounded">Info</button>
                    <button class="btn btn-outline-warning btn-rounded">Warning</button>
                    <button class="btn btn-outline-danger btn-rounded">Danger</button>
                    <button class="btn btn-outline-blue btn-rounded">Blue</button>
                    <button class="btn btn-outline-pink btn-rounded">Pink</button>
                    <div class="mb-4 mt-3">Long style</div>
                    <button class="btn btn-outline-primary btn-fix btn-rounded">Primary</button>
                    <button class="btn btn-outline-secondary btn-fix btn-rounded">Secondary</button>
                    <button class="btn btn-outline-success btn-fix btn-rounded">Success</button>
                    <button class="btn btn-outline-info btn-fix btn-rounded">Info</button>
                    <button class="btn btn-outline-warning btn-fix btn-rounded">Warning</button>
                    <button class="btn btn-outline-danger btn-fix btn-rounded">Danger</button>
                    <button class="btn btn-outline-blue btn-fix btn-rounded">Blue</button>
                    <button class="btn btn-outline-pink btn-fix btn-rounded">Pink</button>
                    <div class="mt-4 mb-2">Thick style</div>
                    <p>Add class <code>.btn-thick</code> for the thick border</p>
                    <button class="btn btn-outline-primary btn-fix btn-thick btn-rounded">Primary</button>
                    <button class="btn btn-outline-secondary btn-fix btn-thick btn-rounded">Secondary</button>
                    <button class="btn btn-outline-success btn-fix btn-thick btn-rounded">Success</button>
                    <button class="btn btn-outline-info btn-fix btn-thick btn-rounded">Info</button>
                    <button class="btn btn-outline-warning btn-fix btn-thick btn-rounded">Warning</button>
                    <button class="btn btn-outline-danger btn-fix btn-thick btn-rounded">Danger</button>
                    <button class="btn btn-outline-blue btn-fix btn-thick btn-rounded">Blue</button>
                    <button class="btn btn-outline-pink btn-fix btn-thick btn-rounded">Pink</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Block Buttons</div>
                </div>
                <div class="ibox-body">
                    <p>add class <code>.btn-block</code> for block level buttons.</p>
                    <button class="btn btn-info btn-block btn-rounded">Block Button</button>
                    <button class="btn btn-primary btn-block btn-rounded">Block Button</button>
                    <button class="btn btn-outline-default btn-block btn-rounded">Block Button</button>
                    <button class="btn btn-outline-pink btn-block btn-rounded">Block Button</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Button Sizes</div>
                </div>
                <div class="ibox-body">
                    <p>Add class <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.</p>
                    <button class="btn btn-primary btn-lg btn-rounded">Large Button</button>
                    <button class="btn btn-info btn-lg btn-rounded">Large Button</button>
                    <button class="btn btn-outline-pink btn-lg btn-rounded">Large Button</button>
                    <button class="btn btn-secondary btn-lg btn-rounded">Large Button</button>
                    <div class="mt-4 mb-4">Default size</div>
                    <button class="btn btn-primary btn-rounded">Default Button</button>
                    <button class="btn btn-info btn-rounded">Default Button</button>
                    <button class="btn btn-outline-pink btn-rounded">Default Button</button>
                    <button class="btn btn-secondary btn-rounded">Default Button</button>
                    <div class="mt-4 mb-4">Small size</div>
                    <button class="btn btn-primary btn-sm btn-rounded">Small Button</button>
                    <button class="btn btn-info btn-sm btn-rounded">Small Button</button>
                    <button class="btn btn-outline-pink btn-sm btn-rounded">Small Button</button>
                    <button class="btn btn-secondary btn-sm btn-rounded">Small Button</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Button States</div>
                </div>
                <div class="ibox-body">
                    <div class="mt-4 mb-4">Default state</div>
                    <button class="btn btn-secondary btn-rounded">Default</button>
                    <button class="btn btn-success btn-rounded">Default</button>
                    <button class="btn btn-info btn-rounded">Default</button>
                    <button class="btn btn-warning btn-rounded">Default</button>
                    <button class="btn btn-primary btn-rounded">Default</button>
                    <button class="btn btn-pink btn-rounded">Default</button>
                    <div class="mt-4 mb-4">Active state</div>
                    <button class="btn btn-secondary btn-rounded active">Active</button>
                    <button class="btn btn-success btn-rounded active">Active</button>
                    <button class="btn btn-info btn-rounded active">Active</button>
                    <button class="btn btn-warning btn-rounded active">Active</button>
                    <button class="btn btn-primary btn-rounded active">Active</button>
                    <button class="btn btn-pink btn-rounded active">Active</button>
                    <div class="mt-4 mb-4">Disabled state</div>
                    <button class="btn btn-secondary btn-rounded" disabled>Disabled</button>
                    <button class="btn btn-success btn-rounded" disabled>Disabled</button>
                    <button class="btn btn-info btn-rounded" disabled>Disabled</button>
                    <button class="btn btn-warning btn-rounded" disabled>Disabled</button>
                    <button class="btn btn-primary btn-rounded" disabled>Disabled</button>
                    <button class="btn btn-pink btn-rounded" disabled>Disabled</button>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Checkbox and radio buttons</div>
                </div>
                <div class="ibox-body">
                    <div class="mt-4 mb-4">Toggle State</div>
                    <button class="btn btn-info btn-rounded" data-toggle="button">
                        <span class="active-hidden">
                            <span class="btn-icon"><i class="la la-cloud-upload"></i>Upload</span>
                        </span>
                        <span class="active-visible">
                            <span class="btn-icon"><i class="ti-check"></i>Uploaded</span>
                        </span>
                    </button>
                    <button class="btn btn-pink btn-rounded" data-toggle="button">
                        <span class="active-hidden">Follow</span>
                        <span class="active-visible">
                            <span class="btn-icon"><i class="ti-heart-broken"></i>Unfollow</span>
                        </span>
                    </button>
                    <button class="btn btn-primary btn-icon-only btn-circle" data-toggle="button">
                        <span class="active-hidden"><i class="la la-music"></i></span>
                        <span class="active-visible"><i class="la la-pause"></i></span>
                    </button>
                    <div class="mt-4 mb-4">Checkbox buttons</div>
                    <div class="btn-group btn-rounded" data-toggle="buttons">
                        <label class="btn btn-info">CHECKBOX 1
                            <input type="checkbox">
                        </label>
                        <label class="btn btn-info">CHECKBOX 2
                            <input type="checkbox">
                        </label>
                        <label class="btn btn-info">CHECKBOX 3
                            <input type="checkbox">
                        </label>
                    </div>
                    <div class="mt-4 mb-4">Radio buttons</div>
                    <div class="btn-group btn-rounded mb-4" data-toggle="buttons">
                        <label class="btn btn-primary">RADIO 1
                            <input type="radio">
                        </label>
                        <label class="btn btn-primary active">RADIO 2
                            <input type="radio" checked="">
                        </label>
                        <label class="btn btn-primary">RADIO 3
                            <input type="radio">
                        </label>
                    </div>
                    <div class="btn-group btn-rounded" data-toggle="buttons">
                        <label class="btn btn-outline-pink"><i class="ti-check active-visible"></i> Male
                            <input type="radio">
                        </label>
                        <label class="btn btn-outline-pink"><i class="ti-check active-visible"></i> Female
                            <input type="radio">
                        </label>
                        <label class="btn btn-outline-pink"><i class="ti-check active-visible"></i> N/A
                            <input type="radio">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical)>.btn {
        margin-bottom: 15px;
        margin-right: 5px;
    }
</style>
