<div class="page-content fade-in-up">
    <div class="flexbox-b mb-5">
        <span class="mr-4 static-badge badge-pink"><i class="la la-trophy"></i></span>
        <div>
            <h5 class="font-strong">PRICING TABLES</h5>
            <div class="text-light">Perfect and easy pricing tables for your business</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="pricing-item pricing-item-1">
                <div class="pricing-header bg-primary">
                    <h4 class="pricing-title">BASIC PLAN</h4>
                    <div class="price"><sup>$</sup>
                        <span class="price-number">3.99</span>
                        <span class="font-16">/ mo</span>
                    </div>
                    <p class="mb-4">perfect for a small project.</p>
                    <button class="btn pricing-item-btn">PURCHASE</button>
                </div>
                <div class="pricing-features">
                    <span class="feature-item">
                        <span class="ti-user text-primary feature-icon"></span>
                        <span>25 users</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-email text-primary feature-icon"></span>
                        <span>1 email address</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-support text-primary feature-icon"></span>
                        <span>Base Support</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-gift text-primary feature-icon"></span>
                        <span>1 Gift</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pricing-item pricing-item-2">
                <div class="pricing-header bg-success">
                    <h4 class="pricing-title">BUSINESS PLAN</h4>
                    <div class="price"><sup>$</sup>
                        <span class="price-number">5.99</span>
                        <span class="font-16">/ mo</span>
                    </div>
                    <p class="mb-4">perfect for a medium project.</p>
                    <button class="btn pricing-item-btn">PURCHASE</button>
                </div>
                <div class="pricing-features">
                    <span class="feature-item">
                        <span class="ti-user text-success feature-icon"></span>
                        <span>50 users</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-email text-success feature-icon"></span>
                        <span>3 email address</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-support text-success feature-icon"></span>
                        <span>Base Support</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-gift text-success feature-icon"></span>
                        <span>3 Gift</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pricing-item pricing-item-3">
                <div class="pricing-header bg-pink">
                    <h4 class="pricing-title">EXTENDED PLAN</h4>
                    <div class="price"><sup>$</sup>
                        <span class="price-number">9.99</span>
                        <span class="font-16">/ mo</span>
                    </div>
                    <p class="mb-4">perfect for a big project.</p>
                    <button class="btn pricing-item-btn">PURCHASE</button>
                </div>
                <div class="pricing-features">
                    <span class="feature-item">
                        <span class="ti-user text-pink feature-icon"></span>
                        <span>100 users</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-email text-pink feature-icon"></span>
                        <span>10 email address</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-support text-pink feature-icon"></span>
                        <span>High Quality</span>
                    </span>
                    <span class="feature-item">
                        <span class="ti-gift text-pink feature-icon"></span>
                        <span>10 Gift</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pricing-item {
        text-align: center;
        background-color: #fff;
        margin-bottom: 26px;
    }

    .pricing-header {
        position: relative;
        padding-bottom: 30px;
    }

    .pricing-header:after {
        content: '';
        border-color: transparent;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
    }

    .pricing-item-1 .pricing-header:after {
        border-top-color: #5c6bc0;
    }

    .pricing-item-2 .pricing-header:after {
        border-top-color: #18c5a9;
    }

    .pricing-item-3 .pricing-header:after {
        border-top-color: #ff4081;
    }

    .pricing-title {
        padding: 15px;
        background-color: rgba(0, 0, 0, .1);
        color: #fff;
    }

    .pricing-item .price {
        color: #fff;
    }

    .pricing-item .price .price-number {
        font-size: 60px;
    }

    .pricing-item .price sup {
        margin-right: 3px;
        font-size: 35px;
        top: -.5em;
    }

    .pricing-features {
        display: flex;
        flex-wrap: wrap;
        border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .pricing-features .feature-item {
        flex: 50%;
        height: 140px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-left: 1px solid rgba(0, 0, 0, .1);
    }

    .feature-item .feature-icon {
        display: block;
        font-size: 44px;
        padding: 20px;
    }

    .pricing-item-btn {
        background-color: transparent;
        color: #fff;
        padding: .75rem;
        width: 170px;
        border: 2px solid #fff;
        border-radius: 50px;
        box-shadow: none !important;
    }

    .pricing-item-btn:hover {
        background-color: #fff;
        color: inherit;
    }
</style>
