// BEGIN THEME CONFIG PANEL
.theme-config
    .theme-config-toggle
        i.ti-settings.theme-config-show
        i.ti-close.theme-config-close
    .theme-config-box
        h5.text-center.mb-4.mt-3 SETTINGS
        .font-strong.mb-3 LAYOUT OPTIONS
        .check-list.mb-4
            label.checkbox.checkbox-grey.checkbox-primary
                input#_fixedNavbar(type='checkbox' checked)
                span.input-span
                | Fixed navbar
            label.checkbox.checkbox-grey.checkbox-primary.mt-3
                input.js-sidebar-toggler(type='checkbox')
                span.input-span
                | Collapse sidebar
            label.checkbox.checkbox-grey.checkbox-primary.mt-3
                input#_drawerSidebar(type='checkbox')
                span.input-span
                | Drawer sidebar
        .mb-3.font-strong THEME COLORS
        div
            .color-skin-box(data-toggle='tooltip', data-original-title='Default' style='background-color:#34495f')
                label
                    input(type='radio', name='setting-theme', value='default', checked)
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box.bg-primary(data-toggle='tooltip', data-original-title='Purple')
                label
                    input(type='radio', name='setting-theme', value='purple')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box(data-toggle='tooltip', data-original-title='Peach', style='background-image: linear-gradient(45deg,#f39c12 0,#e91e63 100%)')
                label
                    input(type='radio', name='setting-theme', value='gradient-peach')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box(data-toggle='tooltip', data-original-title='Gradient Purple', style='background-image: linear-gradient(45deg,#ff4081 0,#7536e6 100%)')
                label
                    input(type='radio', name='setting-theme', value='gradient-purple')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box(data-toggle='tooltip', data-original-title='Gradient Blue', style='background-image: linear-gradient(45deg,#00dcaf 0,#7536e6 100%)')
                label
                    input(type='radio', name='setting-theme', value='gradient-blue')
                    span.color-check-icon
                        i.fa.fa-check

        div
            .color-skin-box.bg-secondary(data-toggle='tooltip', data-original-title='Light')
                label
                    input(type='radio', name='setting-theme', value='light-sidebar')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box(data-toggle='tooltip', data-original-title='Dark Blue' style='background-color:#34495f')
                label
                    input(type='radio', name='setting-theme', value='dark-blue')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box(data-toggle='tooltip', data-original-title='Bright purple' style='background-color:#7536e6')
                label
                    input(type='radio', name='setting-theme', value='bright-purple')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box.bg-success(data-toggle='tooltip', data-original-title='Green')
                label
                    input(type='radio', name='setting-theme', value='green')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box.bg-info(data-toggle='tooltip', data-original-title='Blue')
                label
                    input(type='radio', name='setting-theme', value='blue')
                    span.color-check-icon
                        i.fa.fa-check
// END THEME CONFIG PANEL