extends ../layout-simple.pug

block variables
  - var pageTitle = 'Maintenance Mode'
  - var pageUrl = 'maintenance.html'

block content
  .error-content.flexbox
    span.error-icon
    .flex-1
      h3.font-strong.mb-3.text-primary MAINTENANCE MODE
      h5.font-strong.mb-4 We'll be back in a few minutes.
      p.mb-4 Please wait for a few minutes. Sorry for the inconvenience but we're performing some maintenance at the moment.

block page_styles
  style.
    body {
      background-color: #fff;
      background-repeat: no-repeat;
      background-image: url(./assets/img/icons/tools-2.svg);
      background-position: 80% 10px;
    }
    .error-content {
      max-width: 620px;
      margin: 200px auto 0;
    }
    .error-icon {
      height: 160px;
      width: 160px;
      background-image: url(./assets/img/icons/tools.svg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 80px;
    }
