<div class="page-heading">
    <h1 class="page-title">Social Buttons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Social Buttons</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox btn-list-demo">
        <div class="ibox-head">
            <div class="ibox-title">Social Buttons</div>
        </div>
        <div class="ibox-body">
            <div class="text-center">
                <h5 class="mb-5">Full name buttons</h5>
                <button class="btn btn-soc-facebook btn-fix">
                    <span class="btn-icon"><i class="fa fa-facebook"></i>Facebook</span>
                </button>
                <button class="btn btn-soc-twitter btn-fix">
                    <span class="btn-icon"><i class="fa fa-twitter"></i>Twitter</span>
                </button>
                <button class="btn btn-soc-google btn-fix">
                    <span class="btn-icon"><i class="fa fa-google-plus"></i>Google</span>
                </button>
                <button class="btn btn-soc-linkedin btn-fix">
                    <span class="btn-icon"><i class="fa fa-linkedin"></i>Linkedin</span>
                </button>
                <button class="btn btn-soc-pinterest btn-fix">
                    <span class="btn-icon"><i class="fa fa-pinterest-p"></i>Pinterest</span>
                </button>
                <button class="btn btn-soc-vk btn-fix">
                    <span class="btn-icon"><i class="fa fa-vk"></i>Vkontakte</span>
                </button>
                <button class="btn btn-soc-instagram btn-fix">
                    <span class="btn-icon"><i class="fa fa-instagram"></i>Instagram</span>
                </button>
                <button class="btn btn-soc-youtube btn-fix">
                    <span class="btn-icon"><i class="fa fa-youtube"></i>Youtube</span>
                </button>
                <button class="btn btn-soc-dribbble btn-fix">
                    <span class="btn-icon"><i class="fa fa-dribbble"></i>Dribbble</span>
                </button>
                <button class="btn btn-soc-github btn-fix">
                    <span class="btn-icon"><i class="fa fa-github"></i>Github</span>
                </button>
                <button class="btn btn-soc-tumblr btn-fix">
                    <span class="btn-icon"><i class="fa fa-tumblr"></i>Tumblr</span>
                </button>
                <button class="btn btn-soc-flickr btn-fix">
                    <span class="btn-icon"><i class="fa fa-flickr"></i>Flickr</span>
                </button>
                <button class="btn btn-soc-ok btn-fix">
                    <span class="btn-icon"><i class="fa fa-odnoklassniki"></i>OK</span>
                </button>
                <button class="btn btn-soc-rss btn-fix">
                    <span class="btn-icon"><i class="fa fa-rss"></i>RSS</span>
                </button>
                <h5 class="mb-5 mt-5">Labeled buttons</h5>
                <button class="btn btn-soc-facebook btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-facebook"></i></span>Facebook</button>
                <button class="btn btn-soc-twitter btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-twitter"></i></span>Twitter</button>
                <button class="btn btn-soc-google btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-google-plus"></i></span>Google</button>
                <button class="btn btn-soc-linkedin btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-linkedin"></i></span>Linkedin</button>
                <button class="btn btn-soc-pinterest btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-pinterest-p"></i></span>Pinterest</button>
                <button class="btn btn-soc-vk btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-vk"></i></span>Vkontakte</button>
                <button class="btn btn-soc-linkedin btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-linkedin"></i></span>Linkedin</button>
                <button class="btn btn-soc-instagram btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-instagram"></i></span>Instagram</button>
                <button class="btn btn-soc-youtube btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-youtube"></i></span>Youtube</button>
                <button class="btn btn-soc-dribbble btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-dribbble"></i></span>Dribbble</button>
                <button class="btn btn-soc-github btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-github"></i></span>Github</button>
                <button class="btn btn-soc-tumblr btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-tumblr"></i></span>Tumblr</button>
                <button class="btn btn-soc-flickr btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-flickr"></i></span>Flickr</button>
                <button class="btn btn-soc-ok btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-odnoklassniki"></i></span>Odnoklassniki</button>
                <button class="btn btn-soc-rss btn-fix btn-labeled btn-labeled-left">
                    <span class="btn-label"><i class="fa fa-rss"></i></span>RSS</button>
                <h5 class="mb-5 mt-5">Only Icon buttons</h5>
                <button class="btn btn-soc-facebook btn-icon-only"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-soc-twitter btn-icon-only"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-soc-google btn-icon-only"><i class="fa fa-google-plus"></i></button>
                <button class="btn btn-soc-linkedin btn-icon-only"><i class="fa fa-linkedin"></i></button>
                <button class="btn btn-soc-pinterest btn-icon-only"><i class="fa fa-pinterest-p"></i></button>
                <button class="btn btn-soc-vk btn-icon-only"><i class="fa fa-vk"></i></button>
                <button class="btn btn-soc-instagram btn-icon-only"><i class="fa fa-instagram"></i></button>
                <button class="btn btn-soc-youtube btn-icon-only"><i class="fa fa-youtube"></i></button>
                <button class="btn btn-soc-dribbble btn-icon-only"><i class="fa fa-dribbble"></i></button>
                <button class="btn btn-soc-github btn-icon-only"><i class="fa fa-github"></i></button>
                <button class="btn btn-soc-tumblr btn-icon-only"><i class="fa fa-tumblr"></i></button>
                <button class="btn btn-soc-flickr btn-icon-only"><i class="fa fa-flickr"></i></button>
                <button class="btn btn-soc-ok btn-icon-only"><i class="fa fa-odnoklassniki"></i></button>
                <button class="btn btn-soc-rss btn-icon-only"><i class="fa fa-rss"></i></button>
                <h5 class="mb-5 mt-5">Only Icon circle buttons</h5>
                <button class="btn btn-soc-facebook btn-icon-only btn-circle"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-soc-twitter btn-icon-only btn-circle"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-soc-google btn-icon-only btn-circle"><i class="fa fa-google-plus"></i></button>
                <button class="btn btn-soc-linkedin btn-icon-only btn-circle"><i class="fa fa-linkedin"></i></button>
                <button class="btn btn-soc-pinterest btn-icon-only btn-circle"><i class="fa fa-pinterest-p"></i></button>
                <button class="btn btn-soc-vk btn-icon-only btn-circle"><i class="fa fa-vk"></i></button>
                <button class="btn btn-soc-instagram btn-icon-only btn-circle"><i class="fa fa-instagram"></i></button>
                <button class="btn btn-soc-youtube btn-icon-only btn-circle"><i class="fa fa-youtube"></i></button>
                <button class="btn btn-soc-dribbble btn-icon-only btn-circle"><i class="fa fa-dribbble"></i></button>
                <button class="btn btn-soc-github btn-icon-only btn-circle"><i class="fa fa-github"></i></button>
                <button class="btn btn-soc-tumblr btn-icon-only btn-circle"><i class="fa fa-tumblr"></i></button>
                <button class="btn btn-soc-flickr btn-icon-only btn-circle"><i class="fa fa-flickr"></i></button>
                <button class="btn btn-soc-ok btn-icon-only btn-circle"><i class="fa fa-odnoklassniki"></i></button>
                <button class="btn btn-soc-rss btn-icon-only btn-circle"><i class="fa fa-rss"></i></button>
                <h5 class="mb-5 mt-5">White Buttons</h5>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-google-plus"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-linkedin"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-pinterest-p"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-vk"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-instagram"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-youtube"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-dribbble"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-github"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-tumblr"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-flickr"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-odnoklassniki"></i></button>
                <button class="btn btn-outline-secondary btn-icon-only btn-circle btn-air"><i class="fa fa-rss"></i></button>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical)>.btn {
        margin-bottom: 15px;
        margin-right: 5px;
    }
</style>
