extends ../layout.pug

block variables
  - var pageTitle = 'Pricing Table v4'
  - var pageUrl = 'pricing-table-4.html'

block content
  .flexbox-b.mb-5
    span.mr-4.static-badge.badge-pink
      i.la.la-trophy
    div
      h5.font-strong PRICING TABLE
      .text-light Perfect and easy pricing tables for your business
  .ibox
    .ibox-head
      .ibox-title
        span.btn-icon-only.btn-circle.bg-gradient-blue.text-white.mr-3
          i.la.la-leaf
        | PRICING TABLE
    .ibox-body
      .row.justify-content-center.py-5
        .col-xl-11
          .row.pricing-plan-1
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong BASIC
                  .text-muted.mb-4 Month for free
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-blue.mb-0.mr-2
                      sup $
                      | 26
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-gradient-blue.btn-rounded.btn-air PURCHASE
            .col-md-4.pricing-plan.active
              .ibox
                .ibox-body.text-center
                  h3.font-strong BUSINESS
                  .mb-4 For Starter Business
                  .ibox-fullwidth-block.p-3.d-flex.align-items-center.justify-content-center.price-number
                    h1.font-strong.mb-0.mr-2
                      sup $
                      | 45
                    span / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-white.btn-rounded PURCHASE
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong EXTENDED
                  .text-muted.mb-4 For a Big Project
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-blue.mb-0.mr-2
                      sup $
                      | 80
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-gradient-blue.btn-rounded.btn-air PURCHASE
  .ibox
    .ibox-head
      .ibox-title
        span.btn-icon-only.btn-circle.bg-gradient-purple.text-white.mr-3
          i.la.la-music
        | PRICING TABLES
    .ibox-body
      .row.justify-content-center.py-5
        .col-xl-11
          .row.pricing-plan-2
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong BASIC
                  .text-muted.mb-4 Month for free
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-primary.mb-0.mr-2
                      sup $
                      | 26
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-gradient-purple.btn-rounded.btn-air PURCHASE
            .col-md-4.pricing-plan.active
              .ibox
                .ibox-body.text-center
                  h3.font-strong BUSINESS
                  .mb-4 For Starter Business
                  .ibox-fullwidth-block.p-3.d-flex.align-items-center.justify-content-center.price-number
                    h1.font-strong.mb-0.mr-2
                      sup $
                      | 45
                    span / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-white.btn-rounded PURCHASE
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong EXTENDED
                  .text-muted.mb-4 For a Big Project
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-primary.mb-0.mr-2
                      sup $
                      | 80
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-gradient-purple.btn-rounded.btn-air PURCHASE
  .ibox
    .ibox-head
      .ibox-title
        span.btn-icon-only.btn-circle.bg-gradient-peach.text-white.mr-3
          i.la.la-fire
        | PRICING TABLE
    .ibox-body
      .row.justify-content-center.py-5
        .col-xl-11
          .row.pricing-plan-3
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong BASIC
                  .text-muted.mb-4 Month for free
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-pink.mb-0.mr-2
                      sup $
                      | 26
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-gradient-peach.btn-rounded.btn-air PURCHASE
            .col-md-4.pricing-plan.active
              .ibox
                .ibox-body.text-center
                  h3.font-strong BUSINESS
                  .mb-4 For Starter Business
                  .ibox-fullwidth-block.p-3.d-flex.align-items-center.justify-content-center.price-number
                    h1.font-strong.mb-0.mr-2
                      sup $
                      | 45
                    span / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-white.btn-rounded PURCHASE
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong EXTENDED
                  .text-muted.mb-4 For a Big Project
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-pink.mb-0.mr-2
                      sup $
                      | 80
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-gradient-peach.btn-rounded.btn-air PURCHASE
  
block page_styles
  style.
    .pricing-plan {
      padding:0;
      border: 1px solid rgba(0,0,0,.1);
    }
    .pricing-plan.active {
      box-shadow: 0 5px 20px #d6dee4;
      z-index: 2;
      transform: scale(1.05);
      background-image: linear-gradient(45deg,#00dcaf 0,#7536e6 100%);
      color: #fff;
      border: 0;
    }
    .pricing-plan.active .ibox {background-color: inherit;}
    .pricing-plan .ibox {box-shadow: none}
    .pricing-plan.active .price-number {
      background-color: rgba(0,0,0,.1);
    }
    .pricing-plan-1 .pricing-plan.active {
      background-image: linear-gradient(45deg,#00dcaf 0,#7536e6 100%);
    }
    .pricing-plan-2 .pricing-plan.active {
      background-image: linear-gradient(45deg,#ff4081 0,#7536e6 100%);
    }
    .pricing-plan-3 .pricing-plan.active {
      background-image: linear-gradient(45deg,#f39c12 0,#e91e63 100%);
    }
