extends ../layout.pug

block variables
  - var pageTitle = 'Form Input Groups'
  - var pageUrl = 'form-input-groups.html'
  - var page_heading = 'Form Input Groups'
  - var path = ['Form Controls', 'Form Input Groups']

block content
  .row
    .col-md-6
      +panel(title='Input Groups', boxClass='ibox-fullheight')
        .form-group.mb-4
          label Left Addon
          .input-group.mb-3
            span.input-group-addon: i.ti-email
            input.form-control(type='text', placeholder='Email')
          .input-group
            span.input-group-addon: i.ti-lock
            input.form-control(type='password', placeholder='Password')
        .form-group.mb-4
          label Right Addon
          .input-group
            input.form-control(type='text', placeholder='Email')
            span.input-group-addon @example.com
        .form-group.mb-4
          label Joint Addons
          .input-group
            span.input-group-addon $
            span.input-group-addon 0.00
            input.form-control(type='text')
        .form-group.mb-4
          label Left & Right Addons
          .input-group
            span.input-group-addon $
            input.form-control(type='text')
            span.input-group-addon .00
        .form-group.mb-4
          label Solid style
          .input-group.mb-3
            span.input-group-addon http:
            input.form-control.form-control-solid(type='text', placeholder='example.com')
        .form-group.mb-4
          label Air style
          .input-group.form-control-air.mb-3
            span.input-group-addon Quantity:
            input.form-control(type='text', placeholder='0.00')
    .col-md-6
      +panel(title='Input Groups with icons', boxClass='ibox-fullheight')
        .form-group.mb-4
          label Left Icon
          .input-group-icon.input-group-icon-left
            span.input-icon.input-icon-left: i.ti-lock
            input.form-control(type='text', placeholder='Password')
        .form-group.mb-4
          label Right Icon
          .input-group-icon.input-group-icon-right
            span.input-icon.input-icon-right: i.ti-info-alt
            input.form-control(type='text', placeholder='Email')
        .form-group.mb-4
          label Both Icons
          .input-group-icon.input-group-icon-left.input-group-icon-right
            span.input-icon.input-icon-left: i.ti-user
            span.input-icon.input-icon-right: i.ti-pin-alt
            input.form-control(type='text', placeholder='Username')
        .form-group.mb-4
          label Solid style
          .input-group-icon.input-group-icon-left
            span.input-icon.input-icon-left: i.ti-location-pin
            input.form-control.form-control-solid(type='text', placeholder='Location')
        .form-group.mb-4
          label Air style
          .input-group-icon.input-group-icon-left
            span.input-icon.input-icon-left: i.ti-comments
            input.form-control.form-control-air(type='text', placeholder='Comment')
        .form-group.mb-4
          label Rounded style
          .input-group-icon.input-group-icon-left
            span.input-icon.input-icon-left: i.ti-microphone
            input.form-control.form-control-rounded.form-control-air(type='text', placeholder='Command')
  .row
    .col-md-6
      +panel(title='Button Addons')
        .form-group.mb-4
          label Left Button Addon
          .input-group.mb-3
            span.input-group-btn: button.btn.btn-outline-secondary Go!
            input.form-control(type='text', placeholder='Search for...')
          .input-group.form-control-air.mb-3
            span.input-group-btn: button.btn.btn-secondary Go!
            input.form-control(type='text', placeholder='Search for...')
        .form-group.mb-4
          label Right Button Addon
          .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn: button.btn.btn-outline-secondary Go!
        .form-group.mb-4
          label Left & Right Button Addons
          .input-group
            span.input-group-btn: button.btn.btn-info Go!
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn: button.btn.btn-outline-secondary Go!
      +panel(title='Buttons with dropdowns')
        .form-group.mb-4
          label Left Button Dropdown
          .input-group.mb-3
            .input-group-btn
              button.btn.btn-outline-secondary.dropdown-toggle.dropdown-arrow(data-toggle="dropdown") Action
              .dropdown-menu
                a.dropdown-item(href='javascript:;') Action one
                a.dropdown-item(href='javascript:;') Action two
                a.dropdown-item(href='javascript:;') Action three
                .dropdown-divider
                a.dropdown-item(href='javascript:;') Separated link
            input.form-control(type='text', placeholder='Search for...')
          .input-group
            .input-group-btn.form-control-air
              button.btn.btn-secondary.dropdown-toggle.dropdown-arrow(data-toggle="dropdown") Action
              .dropdown-menu
                a.dropdown-item(href='javascript:;') Action one
                a.dropdown-item(href='javascript:;') Action two
                a.dropdown-item(href='javascript:;') Action three
                .dropdown-divider
                a.dropdown-item(href='javascript:;') Separated link
            input.form-control(type='text', placeholder='Search for...')
        .form-group.mb-4
          label Right Button Dropdown
          .input-group.mb-3
            input.form-control(type='text', placeholder='Search for...')
            .input-group-btn
              button.btn.btn-outline-secondary.dropdown-toggle.dropdown-arrow(data-toggle="dropdown") Action
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='javascript:;') Action one
                a.dropdown-item(href='javascript:;') Action two
                a.dropdown-item(href='javascript:;') Action three
                .dropdown-divider
                a.dropdown-item(href='javascript:;') Separated link
        .form-group.mb-4
          label Left & Right Button Dropdowns
          .input-group.mb-3
            .input-group-btn
              button.btn.btn-outline-secondary.dropdown-toggle(data-toggle="dropdown") Action
              .dropdown-menu
                a.dropdown-item(href='javascript:;') Action one
                a.dropdown-item(href='javascript:;') Action two
                a.dropdown-item(href='javascript:;') Action three
                .dropdown-divider
                a.dropdown-item(href='javascript:;') Separated link
            input.form-control(type='text', placeholder='Search for...')
            .input-group-btn
              button.btn.btn-outline-secondary.dropdown-toggle(data-toggle="dropdown")
                i.ti-more-alt
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='javascript:;') Action one
                a.dropdown-item(href='javascript:;') Action two
                a.dropdown-item(href='javascript:;') Action three
                .dropdown-divider
                a.dropdown-item(href='javascript:;') Separated link

    .col-md-6
      +panel(title='Sizing')
        .form-group.mb-4
          label Large Input Group
          .input-group.input-group-lg
            span.input-group-addon: i.ti-lock
            input.form-control(type='password', placeholder='Password')
        .form-group.mb-4
          label Default Input Group
          .input-group
            span.input-group-addon: i.ti-lock
            input.form-control(type='password', placeholder='Password')
        .form-group.mb-4
          label Small Input Group
          .input-group.input-group-sm
            span.input-group-addon: i.ti-lock
            input.form-control(type='password', placeholder='Password')
      +panel(title='Checkbox and Radio addons')
        .form-group.mb-4
          label Left Checkbox Addon
          .input-group
            span.input-group-addon
              label.checkbox.check-single
                input(type='checkbox')
                span.input-span
            input.form-control(type='text', placeholder='Email')
        .form-group.mb-4
          label Right Checkbox Addon
          .input-group
            input.form-control(type='text', placeholder='Email')
            span.input-group-addon
              label.checkbox.checkbox-info.check-single
                input(type='checkbox')
                span.input-span
        .form-group.mb-4
          label Left Radio Addon
          .input-group
            span.input-group-addon
              label.radio.check-single
                input(type='radio')
                span.input-span
            input.form-control(type='text', placeholder='Email')
        .form-group.mb-4
          label Right Radio Addon
          .input-group.check-single
            input.form-control(type='text', placeholder='Email')
            span.input-group-addon
              label.radio.radio-info.check-single
                input(type='radio')
                span.input-span
