<div class="page-heading">
    <h1 class="page-title">Switches</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Form Controls</li>
        <li class="breadcrumb-item">Switches</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Basic Usage</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group row">
                        <div class="col-3">Default Switch</div>
                        <div class="col-3">
                            <label class="ui-switch">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Checked</div>
                        <div class="col-3">
                            <label class="ui-switch">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">With icon</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Checked</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">Large</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-large">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Checked</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">Outline</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-large switch-outline">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Checked</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Switch State Colors</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group row mb-4">
                        <div class="col-3">Primary</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Success</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-success">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Info</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-info">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Warning</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-warning">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Pink</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-pink">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Danger</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-danger">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Blue</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-blue">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Ebony</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-ebony">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="text-muted mb-4">Outline</div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Primary</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Success</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-success switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Info</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-info switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Warning</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-warning switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Pink</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-pink switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Danger</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-danger switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Blue</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-blue switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Ebony</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-ebony switch-large switch-outline">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Switch State Colors</div>
                </div>
                <div class="ibox-body">
                    <div class="text-muted mb-4">Solid with icons</div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Primary</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-primary switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Info</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-info switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Success</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-success switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Warning</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-warning switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Pink</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-pink switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Danger</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-danger switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Blue</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-blue switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Ebony</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-solid-ebony switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="text-muted mb-4">Solid variant</div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Primary</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-primary switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Info</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-info switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Success</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-success switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Warning</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-warning switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Pink</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-pink switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Danger</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-danger switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Blue</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-blue switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Ebony</div>
                        <div class="col-3">
                            <label class="ui-switch switch-solid-ebony switch-large">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="text-muted mb-4">Square</div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Primary</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Success</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-success switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Info</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-info switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Warning</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-warning switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Pink</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-pink switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Danger</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-danger switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <div class="col-3">Blue</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-blue switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-3">Ebony</div>
                        <div class="col-3">
                            <label class="ui-switch switch-icon switch-ebony switch-large switch-square">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
