li.dropdown.dropdown-notification
  a.nav-link(data-toggle='dropdown', href='javascript:;').dropdown-toggle.toolbar-icon
    i.ti-bell.rel
    span.envelope-badge 7
  .dropdown-menu.dropdown-menu-right.dropdown-menu-media
    .dropdown-arrow
    .dropdown-header.text-center
      div
        span.font-18 <strong>14 New</strong> Notifications
      a(href='javascript:;').text-muted.font-13 view all
    .p-3
      ul.timeline.scroller(data-height='320px')
        li.timeline-item
          i.ti-check.timeline-icon
          | 2 Issue fixed
          small.float-right.text-muted.ml-2.nowrap Just now
        li.timeline-item
          i.ti-announcement.timeline-icon
          span
            | 7 new feedback
            span.badge.badge-warning.badge-pill.ml-2 important
          small.float-right.text-muted 5 mins
        li.timeline-item
          i.ti-truck.timeline-icon
          | 25 new orders sent
          small.float-right.text-muted.ml-2.nowrap 24 mins
        li.timeline-item
          i.ti-shopping-cart.timeline-icon
          | 12 New orders
          small.float-right.text-muted.ml-2.nowrap 45 mins
        li.timeline-item
          i.ti-user.timeline-icon
          | 18 new users registered
          small.float-right.text-muted.ml-2.nowrap 1 hrs
        li.timeline-item
          i.ti-harddrives.timeline-icon
          span
            | Server Error
            span.badge.badge-success.badge-pill.ml-2 resolved
          small.float-right.text-muted 2 hrs
        li.timeline-item
          i.ti-info-alt.timeline-icon
          span
            | System Warning
            a.text-purple.ml-2 Check
          small.float-right.text-muted.ml-2.nowrap 12:07
        li.timeline-item
          i.fa.fa-file-excel-o.timeline-icon
          | The invoice is ready
          small.float-right.text-muted.ml-2.nowrap 12:30
        li.timeline-item
          i.ti-shopping-cart.timeline-icon
          | 5 New Orders
          small.float-right.text-muted.ml-2.nowrap 13:45
        li.timeline-item
          i.ti-arrow-circle-up.timeline-icon
          | Production server up
          small.float-right.text-muted.ml-2.nowrap 1 days ago
        li.timeline-item
          i.ti-harddrives.timeline-icon
          | Server overloaded 91%
          small.float-right.text-muted.ml-2.nowrap 2 days ago
        li.timeline-item
          i.ti-info-alt.timeline-icon
          | Server error
          small.float-right.text-muted.ml-2.nowrap 2 days ago

