// BEGIN THEME CONFIG PANEL
.theme-config
    .theme-config-toggle
        i.ti-settings.theme-config-show
        i.ti-close.theme-config-close
    .theme-config-box
        h5.text-center.mb-4.mt-3 SETTINGS
        .font-strong.mb-3 LAYOUT OPTIONS
        .check-list.mb-4
            label.checkbox.checkbox-grey.checkbox-primary.mt-3
                input.js-sidebar-toggler(type='checkbox')
                span.input-span
                | Collapse sidebar
            label.checkbox.checkbox-grey.checkbox-primary.mt-3
                input#_drawerSidebar(type='checkbox')
                span.input-span
                | Drawer sidebar
        .font-strong.mb-3 LAYOUT STYLE
        .check-list.mb-4
            label.radio.radio-grey.radio-primary
                input(type='radio', name='layout-style', value='')
                span.input-span
                | Fluid
            label.radio.radio-grey.radio-primary.mt-3
                input(type='radio', name='layout-style', value='1', checked)
                span.input-span
                | Boxed
        .mt-4.mb-2.font-strong THEME COLORS
        div
            .color-skin-box(data-toggle='tooltip', data-original-title='Default' style='background-color:#34495f')
                label
                    input(type='radio', name='setting-theme', value='default', checked)
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box.bg-primary(data-toggle='tooltip', data-original-title='Purple')
                label
                    input(type='radio', name='setting-theme', value='purple')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box(data-toggle='tooltip', data-original-title='Bright purple' style='background-color:#7536e6')
                label
                    input(type='radio', name='setting-theme', value='bright-purple')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box.bg-success(data-toggle='tooltip', data-original-title='Green')
                label
                    input(type='radio', name='setting-theme', value='green')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box.bg-info(data-toggle='tooltip', data-original-title='Blue')
                label
                    input(type='radio', name='setting-theme', value='blue')
                    span.color-check-icon
                        i.fa.fa-check
            .color-skin-box.bg-secondary(data-toggle='tooltip', data-original-title='Light')
                label
                    input(type='radio', name='setting-theme', value='light')
                    span.color-check-icon
                        i.fa.fa-check
// END THEME CONFIG PANEL