extends ../layout.pug

block variables
  - var pageTitle = 'Labeled Buttons'
  - var pageUrl = 'button-labeled.html'
  - var page_heading = 'Labeled Buttons'
  - var path = ['Buttons', 'Labeled Buttons']

block content
  .row.btn-list-demo
    .col-md-6
      +panel('Labeled Buttons')
        .mt-4.mb-4 Left label
        button.btn.btn-primary.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.la.la-music
          | Labeled
        button.btn.btn-info.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.la.la-cloud-download
          | Labeled
        button.btn.btn-pink.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.la.la-heart-o
          | Labeled
        button.btn.btn-success.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.ti-check
          | Labeled
        button.btn.btn-danger.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.ti-close
          | Labeled
        button.btn.btn-warning.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.la.la-warning
          | Labeled
        button.btn.btn-secondary.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.la.la-backward
          | Labeled
        hr
        button.btn.btn-gradient-purple.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.ti-music
          | Labeled
        button.btn.btn-gradient-peach.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.ti-camera
          | Labeled
        button.btn.btn-gradient-aqua.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.ti-heart
          | Labeled
        button.btn.btn-gradient-blue.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.ti-gift
          | Labeled
        button.btn.btn-gradient-silver.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.ti-unlock
          | Labeled
        button.btn.btn-gradient-lime.btn-labeled.btn-labeled-left.btn-icon
          span.btn-label: i.la.la-user-plus
          | Labeled
        .mt-4.mb-4 Right label
        button.btn.btn-primary.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-music
          | Labeled
        button.btn.btn-info.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-unlock
          | Labeled
        button.btn.btn-pink.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-camera
          | Labeled
        button.btn.btn-success.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-pencil-alt
          | Labeled
        button.btn.btn-danger.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-arrow-circle-right
          | Labeled
        button.btn.btn-warning.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-gift
          | Labeled
        button.btn.btn-secondary.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.la.la-step-forward
          | Labeled
        hr
        button.btn.btn-gradient-purple.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-music
          | Labeled
        button.btn.btn-gradient-peach.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-camera
          | Labeled
        button.btn.btn-gradient-aqua.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-heart
          | Labeled
        button.btn.btn-gradient-blue.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-gift
          | Labeled
        button.btn.btn-gradient-silver.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.ti-unlock
          | Labeled
        button.btn.btn-gradient-lime.btn-labeled.btn-labeled-right.btn-icon
          span.btn-label: i.la.la-user-plus
          | Labeled
        .mt-4.mb-4 Sizes
        div
          button.btn.btn-gradient-purple.btn-labeled.btn-labeled-left.btn-lg.btn-icon
            span.btn-label: i.ti-music
            | Labeled
          button.btn.btn-gradient-peach.btn-labeled.btn-labeled-left.btn-lg.btn-icon
            span.btn-label: i.ti-camera
            | Labeled
        div
          button.btn.btn-gradient-purple.btn-labeled.btn-labeled-left.btn-icon
            span.btn-label: i.ti-music
            | Labeled
          button.btn.btn-gradient-peach.btn-labeled.btn-labeled-left.btn-icon
            span.btn-label: i.ti-camera
            | Labeled
        div
          button.btn.btn-gradient-purple.btn-labeled.btn-labeled-left.btn-sm.btn-icon
            span.btn-label: i.ti-music
            | Labeled
          button.btn.btn-gradient-peach.btn-labeled.btn-labeled-left.btn-sm.btn-icon
            span.btn-label: i.ti-camera
            | Labeled

    .col-md-6
      +panel('Outline Labels')
        .mt-4.mb-4 Right label
        .btn-group
          button.btn.btn-secondary: span.btn-icon
            i.ti-heart
            | Like
          span.btn-label-out.btn-label-out-right 278
        .btn-group
          button.btn.btn-info: span.btn-icon
            i.la.la-cloud-download
            | Download
          span.btn-label-out.btn-label-out-right.btn-label-out-info.pointing 92
        .btn-group
          button.btn.btn-gradient-purple: span.btn-icon
            i.ti-music
            | Music
          span.btn-label-out.btn-label-out-right.btn-label-out-gradient-purple.pointing 145
        .btn-group
          button.btn.btn-gradient-peach: span.btn-icon
            i.ti-camera
            | Photos
          span.btn-label-out.btn-label-out-right.btn-label-out-gradient-peach.pointing 145
        .mt-4.mb-4 Outline
        .btn-group
          button.btn.btn-outline-primary: span.btn-icon
            i.ti-shopping-cart
            | Sales
          span.btn-label-out.btn-label-out-right.btn-label-out-primary.pointing 740
        .btn-group
          button.btn.btn-outline-success: span.btn-icon
            i.la.la-money
            | Money
          span.btn-label-out.btn-label-out-right.btn-label-out-success.pointing $200
        .mt-4.mb-4 Left label
        .btn-group
          span.btn-label-out.btn-label-out-left 278
          button.btn.btn-secondary: span.btn-icon
            i.la.la-heart-o
            | Likes
        .btn-group
          span.btn-label-out.btn-label-out-left.btn-label-out-info.pointing 92
          button.btn.btn-info: span.btn-icon
            i.la.la-cloud-download
            | Download
        .btn-group
          span.btn-label-out.btn-label-out-left.btn-label-out-gradient-purple.pointing 145
          button.btn.btn-gradient-purple: span.btn-icon
            i.ti-music
            | Music
        .btn-group
          span.btn-label-out.btn-label-out-left.btn-label-out-gradient-peach.pointing 145
          button.btn.btn-gradient-peach: span.btn-icon
            i.ti-camera
            | Photos
        .mt-4.mb-4 Outline
        .btn-group
          span.btn-label-out.btn-label-out-left.btn-label-out-primary.pointing 740
          button.btn.btn-outline-primary: span.btn-icon
            i.ti-shopping-cart
            | Sales
        .btn-group
          span.btn-label-out.btn-label-out-left.btn-label-out-success.pointing $200
          button.btn.btn-outline-success: span.btn-icon
            i.la.la-money
            | Money
        .mt-4.mb-4 Sizes
        div
          .btn-group.btn-group-lg
            button.btn.btn-gradient-purple: span.btn-icon
              i.ti-music
              | Music
            span.btn-label-out.btn-label-out-right.btn-label-out-gradient-purple.pointing 145
          .btn-group.btn-group-lg
            button.btn.btn-gradient-peach: span.btn-icon
              i.ti-camera
              | Photos
            span.btn-label-out.btn-label-out-right.btn-label-out-gradient-peach.pointing 145
        div
          .btn-group
            button.btn.btn-gradient-purple: span.btn-icon
              i.ti-music
              | Music
            span.btn-label-out.btn-label-out-right.btn-label-out-gradient-purple.pointing 145
          .btn-group
            button.btn.btn-gradient-peach: span.btn-icon
              i.ti-camera
              | Photos
            span.btn-label-out.btn-label-out-right.btn-label-out-gradient-peach.pointing 145
        div
          .btn-group.btn-group-sm
            button.btn.btn-gradient-purple: span.btn-icon
              i.ti-music
              | Music
            span.btn-label-out.btn-label-out-right.btn-label-out-gradient-purple.pointing 145
          .btn-group.btn-group-sm
            button.btn.btn-gradient-peach: span.btn-icon
              i.ti-camera
              | Photos
            span.btn-label-out.btn-label-out-right.btn-label-out-gradient-peach.pointing 145

block page_styles
  style.
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical) > .btn, .btn-group {margin-bottom:15px;margin-right:5px;}
