extends ../layout.pug

block variables
  - var pageTitle = 'Pricing Table v3'
  - var pageUrl = 'pricing-table-3.html'

block content
  .flexbox-b.mb-5
    span.mr-4.static-badge.badge-pink
      i.la.la-trophy
    div
      h5.font-strong PRICING TABLES
      .text-light Perfect and easy pricing tables for your business
  .ibox
    .ibox-head
      .ibox-title PRICING TABLE
    .ibox-body
      .row.justify-content-center.pb-5
        .col-xl-11
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air.justify-content-center.mb-5
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='javascript:;') MONTHLY
            li.nav-item
              a.nav-link(data-toggle='tab', href='javascript:;') ANNUAL
          .row
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong BASIC
                  .text-muted.mb-4 Month for free
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-primary.mb-0.mr-2
                      sup $
                      | 26
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-primary.btn-rounded.btn-air PURCHASE
            .col-md-4.pricing-plan.active
              .ibox
                .ibox-body.text-center
                  h3.font-strong BUSINESS
                  .text-muted.mb-4 For Starter Business
                  .ibox-fullwidth-block.p-3.bg-primary.text-white.d-flex.align-items-center.justify-content-center
                    h1.font-strong.mb-0.mr-2
                      sup $
                      | 45
                    span / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3.text-muted
                      i.la.la-times-circle.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-primary.btn-rounded.btn-air PURCHASE
            .col-md-4.pricing-plan
              .ibox
                .ibox-body.text-center
                  h3.font-strong EXTENDED
                  .text-muted.mb-4 For a Big Project
                  .ibox-fullwidth-block.p-3.bg-primary-50.d-flex.align-items-center.justify-content-center
                    h1.font-strong.text-primary.mb-0.mr-2
                      sup $
                      | 80
                    span.text-muted / mo
                  .py-5
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 125 GB space
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 5 websites
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 3 email address
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | SSH access
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Unlimited Users
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | 24/7 Support
                    .flexbox-b.mb-3
                      i.la.la-check.mr-3.font-18
                      | Advanced settings
                  button.btn.btn-primary.btn-rounded.btn-air PURCHASE
  
block page_styles
  style.
    .pricing-plan {
      padding:0;
      border: 1px solid rgba(0,0,0,.1);
    }
    .pricing-plan.active {
      box-shadow: 0 5px 20px #d6dee4;
      background-color: #fff;
      z-index: 2;
      transform: scale(1.05);
    }
    .pricing-plan .ibox {box-shadow: none}
