<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Floating Action Buttons</div>
        </div>
        <div class="ibox-body">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="mb-4">Right Direction</h6>
                    <div class="fab fab-right mb-4">
                        <button class="btn btn-primary btn-icon-only btn-circle btn-lg btn-air" data-toggle="button"><i class="la la-bars fab-icon"></i><i class="la la-close fab-icon-active"></i></button>
                        <ul class="fab-menu">
                            <li>
                                <a class="btn btn-pink btn-icon-only btn-circle btn-air" href="javascript:;"><i class="la la-music"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-pink btn-icon-only btn-circle btn-air" href="javascript:;"><i class="la la-camera"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-pink btn-icon-only btn-circle btn-air" href="javascript:;"><i class="la la-comments"></i></a>
                            </li>
                        </ul>
                    </div><br>
                    <div class="fab fab-right">
                        <button class="btn btn-pink btn-icon-only btn-circle btn-lg btn-air" data-toggle="button"><i class="la la-share-alt fab-icon"></i><i class="la la-close fab-icon-active"></i></button>
                        <ul class="fab-menu">
                            <li>
                                <a class="btn btn-soc-facebook btn-icon-only btn-circle btn-air" href="javascript:;"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-soc-twitter btn-icon-only btn-circle btn-air" href="javascript:;"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-soc-dribbble btn-icon-only btn-circle btn-air" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-soc-google btn-icon-only btn-circle btn-air" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <pre><button class="btn btn-sm btn-secondary clipboard-copy">Copy</button><code class="language-markup">&lt;div class="fab fab-right">
&lt;button class="btn btn-lg btn-primary btn-icon-only btn-circle btn-air" data-toggle="button">
&lt;i class="fab-icon la la-bars">&lt;/i>
&lt;i class="fab-icon-active la la-close">&lt;/i>
&lt;/button>

&lt;ul class="fab-menu">
&lt;li>&lt;a class="btn btn-pink" href="#">1&lt;/a>&lt;/li>
&lt;li>&lt;a class="btn btn-pink" href="#">2&lt;/a>&lt;/li>
&lt;li>&lt;a class="btn btn-pink" href="#">3&lt;/a>&lt;/li>
&lt;/ul>
&lt;/div></code></pre>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <h6 class="mb-2">Top Direction</h6>
                    <p><code>.fab-top</code> add to <i>.fab</i></p>
                    <div class="fab fab-top">
                        <button class="btn btn-primary btn-icon-only btn-circle btn-lg btn-air" data-toggle="button"><i class="la la-bars fab-icon"></i><i class="la la-close fab-icon-active"></i></button>
                        <ul class="fab-menu">
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-music"></i></button>
                            </li>
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-camera"></i></button>
                            </li>
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-comments"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 class="mb-2">Bottom Direction</h6>
                    <p><code>.fab-bottom</code> add to <i>.fab</i></p>
                    <div class="fab fab-bottom">
                        <button class="btn btn-primary btn-icon-only btn-circle btn-lg btn-air" data-toggle="button"><i class="la la-bars fab-icon"></i><i class="la la-close fab-icon-active"></i></button>
                        <ul class="fab-menu">
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-music"></i></button>
                            </li>
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-camera"></i></button>
                            </li>
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-comments"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 class="mb-2">Left Direction</h6>
                    <p><code>.fab-left</code> add to <i>.fab</i></p>
                    <div class="fab fab-left">
                        <button class="btn btn-primary btn-icon-only btn-circle btn-lg btn-air" data-toggle="button"><i class="la la-bars fab-icon"></i><i class="la la-close fab-icon-active"></i></button>
                        <ul class="fab-menu">
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-music"></i></button>
                            </li>
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-camera"></i></button>
                            </li>
                            <li>
                                <button class="btn btn-pink btn-icon-only btn-circle btn-air"><i class="la la-comments"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>
