<div class="page-heading">
    <h1 class="page-title">Typography</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Basic UI</li>
        <li class="breadcrumb-item">Typography</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">HEADINGS</div>
                </div>
                <div class="ibox-body">
                    <h1 class="m-0">h1 Heading</h1><br>
                    <h2 class="m-0">h2 Heading</h2><br>
                    <h3 class="m-0">h3 Heading</h3><br>
                    <h4 class="m-0">h4 Heading</h4><br>
                    <h5 class="m-0">h5 Heading</h5><br>
                    <h6 class="m-0">h6. Heading</h6><br>
                    <h5 class="font-strong mt-5">Display headings</h5>
                    <p class="mb-5 text-muted">When you need a heading to stand out, consider using a display heading—a larger, slightly more opinionated heading style.</p>
                    <h1 class="display-1">Display 1</h1>
                    <h1 class="display-2">Display 2</h1>
                    <h1 class="display-3">Display 3</h1>
                    <h1 class="display-4">Display 4</h1>
                    <h5 class="font-strong mt-5">Lead</h5>
                    <p class="text-muted">Make a paragraph stand out by adding <code>.lead</code>.</p>
                    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">TEXT</div>
                </div>
                <div class="ibox-body">
                    <h5 class="font-strong mb-4">State colors</h5>
                    <p class="text-primary">Simple example of primary text.</p>
                    <p class="text-pink">Simple example of pink text.</p>
                    <p class="text-success">Simple example of success text.</p>
                    <p class="text-warning">Simple example of warning text.</p>
                    <p class="text-info">Simple example of info text.</p>
                    <p class="text-danger">Simple example of danger text.</p>
                    <p class="text-blue">Simple example of blue text.</p>
                    <p class="text-muted">Simple example of muted text.</p>
                    <h5 class="font-strong mb-4 mt-5">Font Weight</h5>
                    <p class="font-light">Light text</p>
                    <p>Normal text</p>
                    <p class="font-strong">Strong text</p>
                    <p class="font-bold">Bold text</p>
                    <p class="font-extra-bold">Extra Bold text</p>
                    <h5 class="font-strong mb-4 mt-5">Alignment</h5>
                    <p class="text-left">Left aligned text.</p>
                    <p class="text-center">Center aligned text.</p>
                    <p class="text-right">Right aligned text.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Inline text elements</div>
                </div>
                <div class="ibox-body">
                    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                    <p><del>This line of text is meant to be treated as deleted text.</del></p>
                    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                    <p><u>This line of text will render as underlined</u></p>
                    <p><small>This line of text is meant to be treated as fine print.</small></p>
                    <p><strong>This line rendered as strong text.</strong></p>
                    <p><b>This line rendered as bold text.</b></p>
                    <p><em>This line rendered as italicized text.</em></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Inline text elements</div>
                </div>
                <div class="ibox-body">
                    <h5 class="font-strong mb-4">Links</h5>
                    <p>
                        <a href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-purple" href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-pink" href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-blue" href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-success" href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-warning" href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-info" href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-danger" href="javascript:;">Simple Link</a>
                    </p>
                    <p>
                        <a class="text-muted" href="javascript:;">Simple Link</a>
                    </p>
                    <h5 class="font-strong mb-4 mt-4">Abbreviations</h5>
                    <p><abbr title="attribute">attr</abbr></p>
                    <p><abbr class="initialism" title="HyperText Markup Language">HTML</abbr></p>
                    <h5 class="font-strong mb-4 mt-4">Blockquotes</h5>
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
