<div class="page-content fade-in-up">
    <div class="flexbox-b mb-5">
        <span class="mr-4 static-badge badge-pink"><i class="la la-trophy"></i></span>
        <div>
            <h5 class="font-strong">PRICING TABLES</h5>
            <div class="text-light">Perfect and easy pricing tables for your business</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-11">
            <ul class="nav nav-pills nav-pills-rounded nav-pills-air justify-content-center mb-5">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="javascript:;">MONTHLY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="javascript:;">ANNUAL</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-4">
                    <div class="ibox shadow-wide">
                        <div class="ibox-body text-center">
                            <h3 class="font-strong">BASIC</h3>
                            <div class="text-muted mb-4">Month for free</div>
                            <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                <h1 class="font-strong text-primary mb-0 mr-2"><sup>$</sup>26</h1>
                                <span class="text-muted">/ mo</span>
                            </div>
                            <div class="py-5">
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Unlimited Users</div>
                                <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                            </div>
                            <button class="btn btn-primary btn-rounded btn-air">PURCHASE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox shadow-wide">
                        <div class="ibox-body text-center">
                            <h3 class="font-strong">BUSINESS</h3>
                            <div class="text-muted mb-4">For Starter Business</div>
                            <div class="ibox-fullwidth-block p-3 bg-primary text-white d-flex align-items-center justify-content-center">
                                <h1 class="font-strong mb-0 mr-2"><sup>$</sup>45</h1>
                                <span>/ mo</span>
                            </div>
                            <div class="py-5">
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>24/7 Support</div>
                                <div class="flexbox-b mb-3 text-muted"><i class="la la-times-circle mr-3 font-18"></i>Advanced settings</div>
                            </div>
                            <button class="btn btn-primary btn-rounded btn-air">PURCHASE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox shadow-wide">
                        <div class="ibox-body text-center">
                            <h3 class="font-strong">EXTENDED</h3>
                            <div class="text-muted mb-4">For a Big Project</div>
                            <div class="ibox-fullwidth-block p-3 bg-primary-50 d-flex align-items-center justify-content-center">
                                <h1 class="font-strong text-primary mb-0 mr-2"><sup>$</sup>80</h1>
                                <span class="text-muted">/ mo</span>
                            </div>
                            <div class="py-5">
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>125 GB space</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>5 websites</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>3 email address</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>SSH access</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Unlimited Users</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>24/7 Support</div>
                                <div class="flexbox-b mb-3"><i class="la la-check mr-3 font-18"></i>Advanced settings</div>
                            </div>
                            <button class="btn btn-primary btn-rounded btn-air">PURCHASE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
