<div class="page-heading">
    <h1 class="page-title">Animated Buttons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Buttons</li>
        <li class="breadcrumb-item">Animated Buttons</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row btn-list-demo">
        <div class="col-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Animated Buttons</div>
                </div>
                <div class="ibox-body">
                    <div class="mt-4 mb-4">Fade effect</div>
                    <button class="btn btn-info btn-lg btn-animated fade-button">
                        <span class="visible-content">Subscribe to me</span>
                        <span class="hidden-content">$8.99 <small>/ month</small></span>
                    </button>
                    <button class="btn btn-gradient-purple btn-lg btn-animated fade-button">
                        <span class="visible-content">Adminca Pro Plan</span>
                        <span class="hidden-content">
                            <span class="btn-icon"><i class="ti-shopping-cart"></i>Add To Cart</span>
                        </span>
                    </button>
                    <button class="btn btn-pink btn-lg btn-animated fade-button">
                        <span class="visible-content btn-icon"><i class="ti-heart"></i>Follow me</span>
                        <span class="hidden-content">I Love You</span>
                    </button>
                    <button class="btn btn-gradient-blue btn-lg btn-animated fade-button">
                        <span class="visible-content btn-icon"><i class="ti-music"></i>Play Music</span>
                        <span class="hidden-content">
                            <span class="btn-icon"><i class="ti-face-smile"></i>Be Happy</span>
                        </span>
                    </button>
                    <div class="mt-4 mb-4">From top</div>
                    <button class="btn btn-pink btn-animated from-top">
                        <span class="visible-content"><i class="ti-heart font-16 v-middle"></i></span>
                        <span class="hidden-content">Like</span>
                    </button>
                    <button class="btn btn-primary btn-animated from-top">
                        <span class="visible-content"><i class="ti-shopping-cart font-16 v-middle"></i></span>
                        <span class="hidden-content">Buy</span>
                    </button>
                    <button class="btn btn-success btn-animated from-top">
                        <span class="visible-content"><i class="la la-user-plus font-18 v-middle"></i></span>
                        <span class="hidden-content">Add</span>
                    </button>
                    <div class="mt-4 mb-4">From left</div>
                    <button class="btn btn-primary btn-fix btn-animated from-left">
                        <span class="visible-content">Admin Template</span>
                        <span class="hidden-content">
                            <span class="btn-icon">View Demo<i class="ti-arrow-circle-right pr-0 pl-2"></i></span>
                        </span>
                    </button>
                    <button class="btn btn-pink btn-fix btn-animated from-left">
                        <span class="visible-content">Admin Template</span>
                        <span class="hidden-content">
                            <span class="btn-icon"><i class="la la-cloud-download"></i>Download</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical)>.btn,
    .btn-group {
        margin-bottom: 15px;
        margin-right: 5px;
    }
</style>
