<div class="page-heading">
    <h1 class="page-title">Timeline</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item">Timeline</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row mb-4">
        <div class="col-lg-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Timeline List</div>
                </div>
                <div class="ibox-body">
                    <ul class="timeline">
                        <li class="timeline-item">
                            <span class="timeline-point"></span>2 Issue fixed<small class="float-right text-muted ml-2 nowrap">Just now</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point bg-warning"></span>
                            <span>7 new feedback
                                <span class="badge badge-warning badge-pill ml-2">important</span>
                            </span><small class="float-right text-muted">5 mins</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point bg-purple"></span>
                            <span class="flexbox">25 new orders sent<i class="la la-truck font-16 ml-2 text-purple"></i></span><small class="float-right text-muted ml-2 nowrap">24 mins</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point"></span>12 New orders<small class="float-right text-muted ml-2 nowrap">45 mins</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point bg-warning"></span>18 new users registered<small class="float-right text-muted ml-2 nowrap">1 hrs</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point"></span>
                            <span>Server Error
                                <span class="badge badge-success badge-pill ml-2">resolved</span>
                            </span><small class="float-right text-muted">2 hrs</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point bg-purple"></span>
                            <span>System Warning
                                <a class="text-purple ml-2">Check</a>
                            </span><small class="float-right text-muted ml-2 nowrap">12:07</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point bg-warning"></span>The invoice is ready<small class="float-right text-muted ml-2 nowrap">12:30</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point bg-purple"></span>5 New Orders<small class="float-right text-muted ml-2 nowrap">13:45</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point"></span>
                            <span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><small class="float-right text-muted ml-2 nowrap">1 days ago</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point"></span>Server overloaded 91%<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                        <li class="timeline-item">
                            <span class="timeline-point bg-warning"></span>Server error<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ibox-fullheight">
                <div class="ibox-head">
                    <div class="ibox-title">Timeline List</div>
                </div>
                <div class="ibox-body">
                    <ul class="timeline">
                        <li class="timeline-item"><i class="ti-check timeline-icon"></i>2 Issue fixed<small class="float-right text-muted ml-2 nowrap">Just now</small></li>
                        <li class="timeline-item"><i class="ti-announcement timeline-icon"></i>
                            <span>7 new feedback
                                <span class="badge badge-warning badge-pill ml-2">important</span>
                            </span><small class="float-right text-muted">5 mins</small></li>
                        <li class="timeline-item"><i class="ti-truck timeline-icon"></i>25 new orders sent<small class="float-right text-muted ml-2 nowrap">24 mins</small></li>
                        <li class="timeline-item"><i class="ti-shopping-cart timeline-icon"></i>12 New orders<small class="float-right text-muted ml-2 nowrap">45 mins</small></li>
                        <li class="timeline-item"><i class="ti-user timeline-icon"></i>18 new users registered<small class="float-right text-muted ml-2 nowrap">1 hrs</small></li>
                        <li class="timeline-item"><i class="ti-harddrives timeline-icon"></i>
                            <span>Server Error
                                <span class="badge badge-success badge-pill ml-2">resolved</span>
                            </span><small class="float-right text-muted">2 hrs</small></li>
                        <li class="timeline-item"><i class="ti-info-alt timeline-icon"></i>
                            <span>System Warning
                                <a class="text-purple ml-2">Check</a>
                            </span><small class="float-right text-muted ml-2 nowrap">12:07</small></li>
                        <li class="timeline-item"><i class="fa fa-file-excel-o timeline-icon"></i>The invoice is ready<small class="float-right text-muted ml-2 nowrap">12:30</small></li>
                        <li class="timeline-item"><i class="ti-shopping-cart timeline-icon"></i>5 New Orders<small class="float-right text-muted ml-2 nowrap">13:45</small></li>
                        <li class="timeline-item"><i class="ti-arrow-circle-up timeline-icon"></i>Production server up<small class="float-right text-muted ml-2 nowrap">1 days ago</small></li>
                        <li class="timeline-item"><i class="ti-harddrives timeline-icon"></i>Server overloaded 91%<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                        <li class="timeline-item"><i class="ti-info-alt timeline-icon"></i>Server error<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center mb-3">Big Timeline</h3>
    <div class="text-center">
        <div>
            <label class="radio radio-inline radio-success">
                <input type="radio" name="timeline1-option" value="1" checked="">
                <span class="input-span"></span>Center</label>
            <label class="radio radio-inline radio-success">
                <input type="radio" name="timeline1-option" value="0">
                <span class="input-span"></span>Left</label>
        </div>
    </div>
    <div class="cd-timeline center-orientation timeline-1">
        <div class="cd-timeline-block">
            <div class="cd-timeline-icon bg-success text-white"><i class="fa fa-file-text"></i></div>
            <div class="cd-timeline-content">
                <h4>Send documents</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <a class="btn btn-success btn-sm"
                    href="javascript:;">More ...</a>
                <span class="cd-date">Today 14:25</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-icon bg-primary text-white"><i class="fa fa-briefcase"></i></div>
            <div class="cd-timeline-content">
                <h4>Meeting</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <a class="btn btn-success btn-sm"
                    href="javascript:;">More ...</a>
                <span class="cd-date">2 Days ago</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-icon bg-warning text-white"><i class="fa fa-shopping-basket"></i></div>
            <div class="cd-timeline-content">
                <h4>Shopping with Olivia</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <a class="btn btn-success btn-sm"
                    href="javascript:;">More ...</a>
                <span class="cd-date">Dec 15</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-icon bg-blue text-white"><i class="fa fa-birthday-cake"></i></div>
            <div class="cd-timeline-content">
                <h4>Emma's birthday</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                <a class="btn btn-success btn-sm"
                    href="javascript:;">More ...</a>
                <span class="cd-date">Dec 17</span>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-body">
            <h3 class="text-center mb-3">Dark style</h3>
            <div class="text-center">
                <div>
                    <label class="radio radio-inline radio-success">
                        <input type="radio" name="timeline2-option" value="1" checked="">
                        <span class="input-span"></span>Center</label>
                    <label class="radio radio-inline radio-success">
                        <input type="radio" name="timeline2-option" value="0">
                        <span class="input-span"></span>Left</label>
                </div>
            </div>
            <div class="cd-timeline cd-timeline-dark center-orientation timeline-2">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-icon bg-success text-white"><i class="fa fa-file-text"></i></div>
                    <div class="cd-timeline-content">
                        <h4>Send documents</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                        <a class="btn btn-success btn-sm"
                            href="javascript:;">More ...</a>
                        <span class="cd-date">Today 14:25</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-icon bg-primary text-white"><i class="fa fa-briefcase"></i></div>
                    <div class="cd-timeline-content">
                        <h4>Meeting</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                        <a class="btn btn-success btn-sm"
                            href="javascript:;">More ...</a>
                        <span class="cd-date">2 Days ago</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-icon bg-warning text-white"><i class="fa fa-shopping-basket"></i></div>
                    <div class="cd-timeline-content">
                        <h4>Shopping with Olivia</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                        <a class="btn btn-success btn-sm"
                            href="javascript:;">More ...</a>
                        <span class="cd-date">Dec 15</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-icon bg-blue text-white"><i class="fa fa-birthday-cake"></i></div>
                    <div class="cd-timeline-content">
                        <h4>Emma's birthday</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                        <a class="btn btn-success btn-sm"
                            href="javascript:;">More ...</a>
                        <span class="cd-date">Dec 17</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
