.page-wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}
.wrapper {
	padding: 0 15px;
}

.content-wrapper {
    position: relative;
    background-color: #f7f7f7;
    background-color: #f2f2f2;
    background-color: #f1f1f1;
	padding: 0 15px;
	transition: margin .2s ease-in-out;
}
@media screen and (max-width: 1250px) {
    .content-wrapper {
		padding-left: 15px;
		padding-right: 15px;
    }
}

.dashboard-header {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 5px;
}


.page-content {
	padding-top: 15px;
	margin-top: 5px;
}


// PAGE HEADING, TITLE
// ===============

.page-heading {
	padding: 0 20px;
	.page-title {
		font-size: 26px;
		margin: 20px 0 10px 0;
	}
	.breadcrumb {
	    padding: 0;
	    margin: 0;
	    font-size: 13px;
	    background-color: inherit;
	    li {
	        a {
	            color: inherit;
	        }
	        & + li:before {
	            content: '\002022';
	            color: inherit;
	        }
	    }
	}
}

body.empty-layout .theme-config, body.empty-layout .to-top{
    display: none !important;
}
