.alert {
	position: relative;
    border-radius: 0px;
    h4 {margin-bottom: 8px}
    &.alert-bordered {
    	border-width: 0 0 0 4px;
    	background-color: #fff;
    }
    &.alert-outline {
    	background-color: #fff;
    }
    .alert-link {
    	color: inherit;
    	font-weight: 600;
    }
    hr {
    	border-color: inherit;
    }
    &:not(.alert-bordered):not(.alert-outline) {
    	color: #fff;
    	.alert-link {color: #fff}
    	hr {border-color: #fff}
    }
    .close {
    	font-family: "LineAwesome";
    	text-decoration: inherit;
		text-rendering: optimizeLegibility;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		color: inherit;
		cursor: pointer;
		font-weight: 400;
		font-size: 1.2rem;
		&:before {content: "\f191"}
    }
    &.has-icon {
    	padding-left: 70px;
    	.alert-icon {
    		position: absolute;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 60px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    font-size: 2.5rem;
    	}
    }
}

// Contextual Alerts

.alert-primary {
  @include alert-variant($alert-primary-bg, $alert-primary-color);
}
.alert-secondary {
  @include alert-variant($alert-secondary-bg, $alert-secondary-color);
}
.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-color);
}
.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-color);
}
.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-color);
}
.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-color);
}
.alert-pink {
  @include alert-variant($alert-pink-bg, $alert-pink-color);
}

