extends ../layout.pug

block variables
  - var pageTitle = 'Rickshaw Charts'
  - var pageUrl = 'charts_rickshaw.html'
  - var page_heading = 'Rickshaw Charts'
  - var path = ['Charts', 'Rickshaw Charts']

block plugins-styles
  +link('rickshaw/rickshaw.min.css','plugin')

block plugins
  +script('d3/d3.min.js', 'plugin')
  +script('rickshaw/rickshaw.min.js', 'plugin')

block scripts
  +script('rickshaw-demo.js', 'page')

block content
    .alert.alert-success.alert-bordered
        p Rickshaw is a JavaScript toolkit for creating interactive time series graphs.
        p
            a.btn.btn-success(href='http://code.shutterstock.com/rickshaw/', target='_blank') Official Website
    .row
      .col-md-6
        +panel('Simple graph')
          #rickshaw_graph.rickshaw_graph
      .col-md-6
        +panel('Multiple Area')
          #rickshaw_multiarea.rickshaw_graph
    .row
      .col-md-6
        +panel('Line')
          #rickshaw_line.rickshaw_graph
      .col-md-6
        +panel('Multiple Line')
          #rickshaw_multiline.rickshaw_graph
    .row
      .col-md-6
        +panel('Bars')
          #rickshaw_bars.rickshaw_graph
      .col-md-6
        +panel('Bars stacked')
          #rickshaw_bars_stacked.rickshaw_graph
    .row
      .col-md-6
        +panel('Multiple Bars')
          #rickshaw_multibars.rickshaw_graph
      .col-md-6
        +panel('Scatterplot')
          #rickshaw_scatterplot.rickshaw_graph
