<div class="page-content fade-in-up">
    <div class="d-flex align-items-center mb-5">
        <span class="mr-4 static-badge badge-pink"><i class="ti-shopping-cart-full"></i></span>
        <div>
            <h5 class="font-strong">Order #1253</h5>
            <div class="text-light">Emma Johnson, 17.05.2018, Shipped</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7">
            <div class="ibox">
                <div class="ibox-body">
                    <h5 class="font-strong mb-5">Products List</h5>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-default thead-lg">
                            <tr>
                                <th>ID</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>QTY</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3</td>
                                <td>
                                    <img class="mr-3" src="./assets/img/products/16.jpg" alt="image" width="60" />Evaflor "Whisky"</td>
                                <td>$12</td>
                                <td>3</td>
                                <td>$36</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <img class="mr-3" src="./assets/img/products/15.jpg" alt="image" width="60" />Evaflor "Whisky Silver"</td>
                                <td>$12</td>
                                <td>4</td>
                                <td>$48</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>
                                    <img class="mr-3" src="./assets/img/products/20.jpg" alt="image" width="60" />Women's bag Cromia "Luxor"</td>
                                <td>$430</td>
                                <td>1</td>
                                <td>$430</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    <img class="mr-3" src="./assets/img/products/23.jpg" alt="image" width="60" />Women's wrist watch "Moschino"</td>
                                <td>$335</td>
                                <td>1</td>
                                <td>$335</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>
                                    <img class="mr-3" src="./assets/img/products/21.jpg" alt="image" width="60" />Women's bag Cromia "Starlight"</td>
                                <td>$416</td>
                                <td>1</td>
                                <td>$416</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <div class="text-right" style="width:300px;">
                            <div class="row mb-2">
                                <div class="col-6">Subtotal Price</div>
                                <div class="col-6">$1265</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">Discount 5%:</div>
                                <div class="col-6">-$63.25</div>
                            </div>
                            <div class="row font-strong font-20">
                                <div class="col-6">Total Price:</div>
                                <div class="col-6">
                                    <div class="h3 font-strong">$1201.71</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="ibox">
                <div class="ibox-body">
                    <h5 class="font-strong mb-4">Order Information</h5>
                    <div class="row align-items-center mb-3">
                        <div class="col-4 text-light">Total Price</div>
                        <div class="col-8 h3 font-strong text-pink mb-0">$1201.71</div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-4 text-light">Date</div>
                        <div class="col-8">17.05.2018</div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-4 text-light">Delivered</div>
                        <div class="col-8">17.05.2018</div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-4 text-light">Status</div>
                        <div class="col-8">
                            <span class="badge badge-success badge-pill">Shipped</span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 text-light">Payment</div>
                        <div class="col-8">
                            <img src="./assets/img/logos/payment/visa.png" alt="image" width="55" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-body">
                    <h5 class="font-strong mb-4">Buyer Information</h5>
                    <div class="row align-items-center mb-3">
                        <div class="col-4 text-light">Customer</div>
                        <div class="col-8">Emma Johnson</div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-4 text-light">Address</div>
                        <div class="col-8">San Francisco, CA 94103 Market Street</div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-4 text-light">Email</div>
                        <div class="col-8">example@gmail.com</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4 text-light">Phone</div>
                        <div class="col-8">+380681478544</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
