include ../config.pug
include vars.pug
include ../mixins.pug
block variables

doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    title #{titlePrefix} | #{pageTitle}
    // GLOBAL MAINLY STYLES
    +link('bootstrap/dist/css/bootstrap.min.css', 'plugin')
    +link('font-awesome/css/font-awesome.min.css', 'plugin')
    +link('line-awesome/css/line-awesome.min.css', 'plugin')
    +link('themify-icons/css/themify-icons.css', 'plugin')
    +link('animate.css/animate.min.css', 'plugin')
    +link('toastr/toastr.min.css','plugin')
    +link('bootstrap-select/dist/css/bootstrap-select.min.css','plugin')
    // PLUGINS STYLES
    block plugins-styles
    // THEME STYLES
    +link('assets/css/main.min.css')
    // PAGE LEVEL STYLES
    block page_styles
  body(class=body_class)

    block content
    
    // BEGIN PAGA BACKDROPS
    div.sidenav-backdrop.backdrop
    div.preloader-backdrop
      div.page-preloader Loading

    // CORE PLUGINS
    +script('jquery/dist/jquery.min.js', 'plugin')
    +script('popper.js/dist/umd/popper.min.js', 'plugin')
    +script('bootstrap/dist/js/bootstrap.min.js', 'plugin')
    +script('jquery-slimscroll/jquery.slimscroll.min.js', 'plugin')
    +script('jquery-idletimer/dist/idle-timer.min.js', 'plugin')
    +script('toastr/toastr.min.js', 'plugin')
    +script('jquery-validation/dist/jquery.validate.min.js', 'plugin')
    +script('bootstrap-select/dist/js/bootstrap-select.min.js', 'plugin')
    +script('printMe/jquery-printme.min.js', 'plugin')
    // PAGE LEVEL PLUGINS
    block plugins
    // CORE SCRIPTS
    +script('assets/js/app.min.js')
    // PAGE LEVEL SCRIPTS
    block scripts