footer.page-footer
  .font-13
    | 2018 © 
    b Adminca
    |  - Save your time, choose the best
  div
    a(href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589", target='_blank').px-3.pl-4 Purchase
    a(href="http://admincast.com/adminca/documentation.html", target='_blank').px-3 Docs
  div.to-top
    i.fa.fa-angle-double-up
