<div class="page-heading">
    <h1 class="page-title">Panels</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Panels</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Simple collapsed panel</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"> <i class="ti-pencil"></i>Create</a>
                            <a class="dropdown-item"> <i class="ti-pencil-alt"></i>Edit</a>
                            <a class="dropdown-item"> <i class="ti-close"></i>Remove</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-body">Magna veniam tempor duis ipsum pariatur veniam officia dolore dolore occaecat do in dolore mollit voluptate minim ad aute in tempor commodo id adipiscing culpa ipsum nostrud enim sunt id culpa culpa incididunt dolore amet amet
                    do lorem nisi ut et deserunt irure do eu laboris eiusmod mollit dolore dolore laborum pariatur aliquip laboris lorem incididunt reprehenderit veniam sunt ut quis culpa duis ut incididunt duis sit in fugiat culpa nulla sint
                    aliqua incididunt officia cupidatat laboris occaecat eiusmod ad qui ut amet in nulla sunt officia aliqua aliqua non dolor do voluptate sint dolor nostrud consectetur in non minim </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Fullscreen option</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">Sit do ad dolore est quis cillum ea tempor consectetur in laboris commodo pariatur in reprehenderit sit elit ullamco incididunt aute dolor id id dolore aliquip labore id nostrud laboris tempor in non et in ad dolor proident
                    incididunt proident laborum elit proident sit sint fugiat ullamco amet amet qui cupidatat reprehenderit irure aliqua aute dolore pariatur deserunt pariatur sed nulla est cupidatat in velit anim officia incididunt ad enim
                    ullamco mollit fugiat nisi excepteur mollit enim excepteur occaecat enim laborum est quis tempor tempor aute labore sint mollit elit dolor sint ut id ipsum voluptate sint enim qui est </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Height with scroll</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <p>add <code>.scroller</code> and set height in <code>data-height</code> attribute.</p>
                    <div class="scroller" data-height="200px">Amet nostrud officia laborum laborum dolore aliqua ullamco incididunt nulla dolore in occaecat cillum consequat consequat nostrud consectetur consectetur esse sit non enim laborum ut tempor nisi velit ut aute voluptate
                        id magna eu esse esse lorem laborum aliqua deserunt excepteur et sit ut velit mollit lorem id irure ad ipsum lorem esse id ut do incididunt in duis voluptate in aute deserunt irure id irure ullamco enim sit minim anim
                        proident magna labore aliquip sunt proident id sunt do duis anim cupidatat et eiusmod proident magna quis esse nostrud ut excepteur cillum irure culpa officia non voluptate est cillum ullamco amet veniam et esse commodo
                        ut id quis enim deserunt ut duis ut eiusmod in sunt exercitation excepteur dolore sunt proident incididunt cupidatat amet fugiat qui in est ullamco dolore labore tempor ut amet ut nisi amet velit officia sunt aute commodo
                        ullamco exercitation in consectetur magna dolor voluptate </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Removable panel</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
                        <a class="ibox-remove"><i class="ti-close"></i></a>
                    </div>
                </div>
                <div class="ibox-body">Commodo in ut qui proident nostrud aute dolor qui dolore minim occaecat ut sed est sunt id amet proident culpa ut lorem quis labore sit laboris minim dolor elit dolor excepteur nostrud ut consequat commodo nulla in ut eu voluptate
                    culpa veniam cillum sed voluptate ut proident excepteur adipiscing mollit culpa proident dolor esse ut quis quis dolore veniam elit ipsum consequat veniam reprehenderit in sit pariatur excepteur tempor esse in officia consequat
                    officia elit incididunt minim lorem sunt quis in deserunt labore tempor id elit sit officia ea laboris sit mollit labore ut eiusmod quis commodo magna sit amet ut sunt ullamco ea deserunt consectetur in non deserunt tempor
                    </div>
            </div>
        </div>
    </div>
</div>
