<div class="page-heading">
    <h1 class="page-title">Colors</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Basic UI</li>
        <li class="breadcrumb-item">Colors</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Main Colors list</div>
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="ti-angle-down"></i></a>
            </div>
        </div>
        <div class="ibox-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-primary"></div>
                        <div class="color-name">Primary <small>#5C6BC0</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-success"></div>
                        <div class="color-name">Success <small>#18C5A9</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-info"></div>
                        <div class="color-name">Info <small>#2CC4CB</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-warning"></div>
                        <div class="color-name">Warning <small>#F39C12</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-danger"></div>
                        <div class="color-name">Danger <small>#f75a5f</small></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-secondary"></div>
                        <div class="color-name">Secondary <small>#bdc3c7</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-pink"></div>
                        <div class="color-name">Pink<small>#FF4081</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view" style="background-color:#34495f;"></div>
                        <div class="color-name">Ebony <small>#34495f</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view" style="background:#7536e6;"></div>
                        <div class="color-name">Bright purple <small>#7536e6</small></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="color-box">
                        <div class="color-view bg-blue"></div>
                        <div class="color-name">Blue <small>#3498DB</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Colors Palette</div>
        </div>
        <div class="ibox-body">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="bg-primary-800 color-palette">
                        <div>.bg-primary-800
                            <span class="pull-right">800</span>
                        </div>
                    </div>
                    <div class="bg-primary-700 color-palette">
                        <div>.bg-primary-700
                            <span class="pull-right">700</span>
                        </div>
                    </div>
                    <div class="bg-primary-600 color-palette">
                        <div>.bg-primary-600
                            <span class="pull-right">600</span>
                        </div>
                    </div>
                    <div class="bg-primary color-palette">
                        <div>.bg-primary-500
                            <span class="pull-right">Base 500</span>
                        </div>
                    </div>
                    <div class="bg-primary-400 color-palette">
                        <div>.bg-primary-400
                            <span class="pull-right">400</span>
                        </div>
                    </div>
                    <div class="bg-primary-300 color-palette">
                        <div>.bg-primary-300
                            <span class="pull-right">300</span>
                        </div>
                    </div>
                    <div class="bg-primary-200 color-palette">
                        <div>.bg-primary-200
                            <span class="pull-right">200</span>
                        </div>
                    </div>
                    <div class="bg-primary-100 color-palette">
                        <div>.bg-primary-100
                            <span class="pull-right">100</span>
                        </div>
                    </div>
                    <div class="bg-primary-50 color-palette color-inherit">
                        <div>.bg-primary-50
                            <span class="pull-right">50</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="bg-success-800 color-palette">
                        <div>.bg-success-800
                            <span class="pull-right">800</span>
                        </div>
                    </div>
                    <div class="bg-success-700 color-palette">
                        <div>.bg-success-700
                            <span class="pull-right">700</span>
                        </div>
                    </div>
                    <div class="bg-success-600 color-palette">
                        <div>.bg-success-600
                            <span class="pull-right">600</span>
                        </div>
                    </div>
                    <div class="bg-success color-palette">
                        <div>.bg-success-500
                            <span class="pull-right">Base 500</span>
                        </div>
                    </div>
                    <div class="bg-success-400 color-palette">
                        <div>.bg-success-400
                            <span class="pull-right">400</span>
                        </div>
                    </div>
                    <div class="bg-success-300 color-palette">
                        <div>.bg-success-300
                            <span class="pull-right">300</span>
                        </div>
                    </div>
                    <div class="bg-success-200 color-palette">
                        <div>.bg-success-200
                            <span class="pull-right">200</span>
                        </div>
                    </div>
                    <div class="bg-success-100 color-palette">
                        <div>.bg-success-100
                            <span class="pull-right">100</span>
                        </div>
                    </div>
                    <div class="bg-success-50 color-palette color-inherit">
                        <div>.bg-success-50
                            <span class="pull-right">50</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="bg-pink-800 color-palette">
                        <div>.bg-pink-800
                            <span class="pull-right">800</span>
                        </div>
                    </div>
                    <div class="bg-pink-700 color-palette">
                        <div>.bg-pink-700
                            <span class="pull-right">700</span>
                        </div>
                    </div>
                    <div class="bg-pink-600 color-palette">
                        <div>.bg-pink-600
                            <span class="pull-right">600</span>
                        </div>
                    </div>
                    <div class="bg-pink color-palette">
                        <div>.bg-pink-500
                            <span class="pull-right">Base 500</span>
                        </div>
                    </div>
                    <div class="bg-pink-400 color-palette">
                        <div>.bg-pink-400
                            <span class="pull-right">400</span>
                        </div>
                    </div>
                    <div class="bg-pink-300 color-palette">
                        <div>.bg-pink-300
                            <span class="pull-right">300</span>
                        </div>
                    </div>
                    <div class="bg-pink-200 color-palette">
                        <div>.bg-pink-200
                            <span class="pull-right">200</span>
                        </div>
                    </div>
                    <div class="bg-pink-100 color-palette">
                        <div>.bg-pink-100
                            <span class="pull-right">100</span>
                        </div>
                    </div>
                    <div class="bg-pink-50 color-palette color-inherit">
                        <div>.bg-pink-50
                            <span class="pull-right">50</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="bg-secondary-800 color-palette">
                        <div>.bg-secondary-800
                            <span class="pull-right">800</span>
                        </div>
                    </div>
                    <div class="bg-secondary-700 color-palette">
                        <div>.bg-secondary-700
                            <span class="pull-right">700</span>
                        </div>
                    </div>
                    <div class="bg-secondary-600 color-palette">
                        <div>.bg-secondary-600
                            <span class="pull-right">600</span>
                        </div>
                    </div>
                    <div class="bg-secondary color-palette">
                        <div>.bg-secondary-500
                            <span class="pull-right">Base 500</span>
                        </div>
                    </div>
                    <div class="bg-secondary-400 color-palette">
                        <div>.bg-secondary-400
                            <span class="pull-right">400</span>
                        </div>
                    </div>
                    <div class="bg-secondary-300 color-palette">
                        <div>.bg-secondary-300
                            <span class="pull-right">300</span>
                        </div>
                    </div>
                    <div class="bg-secondary-200 color-palette">
                        <div>.bg-secondary-200
                            <span class="pull-right">200</span>
                        </div>
                    </div>
                    <div class="bg-secondary-100 color-palette">
                        <div>.bg-secondary-100
                            <span class="pull-right">100</span>
                        </div>
                    </div>
                    <div class="bg-secondary-50 color-palette color-inherit">
                        <div>.bg-secondary-50
                            <span class="pull-right">50</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .colors-boxes .color-box {
        margin-bottom: 20px;
        border: 1px solid #eee;
    }

    .color-box .color-view {
        position: relative;
        padding: 35px 10px;
        text-align: center;
        font-size: 18px;
    }

    .color-box .color-name {
        padding: 7px;
        text-align: center;
        font-weight: 600;
    }

    .color-box .color-name small {
        display: block;
        font-weight: 400;
    }

    .color-palette {
        padding: 10px 15px;
        color: #fff;
    }
</style>
