<style>
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f2f3fa;
    }
    .login-content {
        max-width: 900px;
        margin: 100px auto 50px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    }

    .auth-head-icon {
        position: relative;
        height: 60px;
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: #fff;
        color: #5c6bc0;
        box-shadow: 0 5px 20px #d6dee4;
        border-radius: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
</style>

<div class="overlay"></div>
<div class="row login-content">
    <div class="col-6 bg-white">
        <div class="text-center">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <div class="ibox m-0" style="box-shadow: none;">
            <form class="ibox-body" id="login-form" action="javascript:;" method="POST">
                <h4 class="font-strong text-center mb-5">LOG IN</h4>
                <div class="form-group mb-4">
                    <input class="form-control form-control-air" type="text" name="email" placeholder="Email">
                </div>
                <div class="form-group mb-4">
                    <input class="form-control form-control-air" type="password" name="password" placeholder="Password">
                </div>
                <div class="flexbox mb-5">
                    <label class="checkbox checkbox-primary">
                        <input type="checkbox" checked>
                        <span class="input-span"></span> Remember</label>
                    <a class="text-primary" routerLink="/forgot_password">Forgot password?</a>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-rounded btn-block btn-air">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-6 d-inline-flex align-items-center text-white py-4 px-5" style="background-color: #4a5ab9;">
        <div>
            <div class="h2 mb-5">Not a member?</div>
            <p>Register and get the following benefits.<br>Minim dolor in amet nulla laboris enim dolore.</p>
            <div class="flexbox-b mb-3"><i class="ti-check mr-3 text-success"></i>Lorem Ipsum dolar set.</div>
            <div class="flexbox-b mb-3"><i class="ti-check mr-3 text-success"></i>Lorem Ipsum dolar set.</div>
            <div class="flexbox-b mb-5"><i class="ti-check mr-3 text-success"></i>Lorem Ipsum dolar set.</div>
            <button class="btn btn-outline btn-rounded btn-fix">Register</button>
        </div>
    </div>
</div>
