extends ../layout.pug

block variables
  - var pageTitle = 'Rounded Style Buttons'
  - var pageUrl = 'buttons-rounded.html'
  - var page_heading = 'Rounded Style Buttons'
  - var path = ['Buttons','Rounded Style']

block content
  .row.btn-list-demo
    .col-md-6
      +panel('Base Buttons')
        p Add class <code>.btn-rounded</code> for rounded buttons.
        .mb-4 Base State Buttons
        button.btn.btn-primary.btn-rounded Primary
        button.btn.btn-secondary.btn-rounded Secondary
        button.btn.btn-pink.btn-rounded Pink
        button.btn.btn-success.btn-rounded Success
        button.btn.btn-info.btn-rounded Info
        button.btn.btn-warning.btn-rounded Warning
        button.btn.btn-danger.btn-rounded Danger
        button.btn.btn-blue.btn-rounded Blue
        .mt-3.mb-2 Long style
        p Add class <code>.btn-fix</code> for the minimum fixed width
        button.btn.btn-primary.btn-fix.btn-rounded Primary
        button.btn.btn-secondary.btn-fix.btn-rounded Secondary
        button.btn.btn-pink.btn-fix.btn-rounded Pink
        button.btn.btn-success.btn-fix.btn-rounded Success
        button.btn.btn-info.btn-fix.btn-rounded Info
        button.btn.btn-warning.btn-fix.btn-rounded Warning
        button.btn.btn-danger.btn-fix.btn-rounded Danger
        button.btn.btn-blue.btn-fix.btn-rounded Blue
        .mt-4.mb-4 Gradient Buttons
        button.btn.btn-gradient-purple.btn-rounded.btn-fix PURPLE
        button.btn.btn-gradient-peach.btn-rounded.btn-fix PEACH
        button.btn.btn-gradient-aqua.btn-rounded.btn-fix AQUA
        button.btn.btn-gradient-blue.btn-rounded.btn-fix BLUE
        button.btn.btn-gradient-silver.btn-rounded.btn-fix SILVER
        button.btn.btn-gradient-lime.btn-rounded.btn-fix LIME
        button.btn.btn-gradient-blue-pink.btn-rounded.btn-fix BLUE-PINK
        button.btn.btn-gradient-blue2.btn-rounded.btn-fix BLUE 2
      +panel('Outline Buttons')
        button.btn.btn-outline-primary.btn-rounded Primary
        button.btn.btn-outline-secondary.btn-rounded Secondary
        button.btn.btn-outline-success.btn-rounded Success
        button.btn.btn-outline-info.btn-rounded Info
        button.btn.btn-outline-warning.btn-rounded Warning
        button.btn.btn-outline-danger.btn-rounded Danger
        button.btn.btn-outline-blue.btn-rounded Blue
        button.btn.btn-outline-pink.btn-rounded Pink
        .mb-4.mt-3 Long style
        button.btn.btn-outline-primary.btn-fix.btn-rounded Primary
        button.btn.btn-outline-secondary.btn-fix.btn-rounded Secondary
        button.btn.btn-outline-success.btn-fix.btn-rounded Success
        button.btn.btn-outline-info.btn-fix.btn-rounded Info
        button.btn.btn-outline-warning.btn-fix.btn-rounded Warning
        button.btn.btn-outline-danger.btn-fix.btn-rounded Danger
        button.btn.btn-outline-blue.btn-fix.btn-rounded Blue
        button.btn.btn-outline-pink.btn-fix.btn-rounded Pink
        .mt-4.mb-2 Thick style
        p Add class <code>.btn-thick</code> for the thick border
        button.btn.btn-outline-primary.btn-fix.btn-thick.btn-rounded Primary
        button.btn.btn-outline-secondary.btn-fix.btn-thick.btn-rounded Secondary
        button.btn.btn-outline-success.btn-fix.btn-thick.btn-rounded Success
        button.btn.btn-outline-info.btn-fix.btn-thick.btn-rounded Info
        button.btn.btn-outline-warning.btn-fix.btn-thick.btn-rounded Warning
        button.btn.btn-outline-danger.btn-fix.btn-thick.btn-rounded Danger
        button.btn.btn-outline-blue.btn-fix.btn-thick.btn-rounded Blue
        button.btn.btn-outline-pink.btn-fix.btn-thick.btn-rounded Pink
      +panel('Block Buttons')
        p add class <code>.btn-block</code> for  block level buttons.
        button.btn.btn-info.btn-block.btn-rounded Block Button
        button.btn.btn-primary.btn-block.btn-rounded Block Button
        button.btn.btn-outline-default.btn-block.btn-rounded Block Button
        button.btn.btn-outline-pink.btn-block.btn-rounded Block Button
    .col-md-6
      +panel('Button Sizes')
        p Add class <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.
        button.btn.btn-primary.btn-lg.btn-rounded Large Button
        button.btn.btn-info.btn-lg.btn-rounded Large Button
        button.btn.btn-outline-pink.btn-lg.btn-rounded Large Button
        button.btn.btn-secondary.btn-lg.btn-rounded Large Button
        .mt-4.mb-4 Default size
        button.btn.btn-primary.btn-rounded Default Button
        button.btn.btn-info.btn-rounded Default Button
        button.btn.btn-outline-pink.btn-rounded Default Button
        button.btn.btn-secondary.btn-rounded Default Button
        .mt-4.mb-4 Small size
        button.btn.btn-primary.btn-sm.btn-rounded Small Button
        button.btn.btn-info.btn-sm.btn-rounded Small Button
        button.btn.btn-outline-pink.btn-sm.btn-rounded Small Button
        button.btn.btn-secondary.btn-sm.btn-rounded Small Button
      +panel('Button States')
        .mt-4.mb-4 Default state
        button.btn.btn-secondary.btn-rounded Default
        button.btn.btn-success.btn-rounded Default
        button.btn.btn-info.btn-rounded Default
        button.btn.btn-warning.btn-rounded Default
        button.btn.btn-primary.btn-rounded Default
        button.btn.btn-pink.btn-rounded Default
        .mt-4.mb-4 Active state
        button.btn.btn-secondary.btn-rounded.active Active
        button.btn.btn-success.btn-rounded.active Active
        button.btn.btn-info.btn-rounded.active Active
        button.btn.btn-warning.btn-rounded.active Active
        button.btn.btn-primary.btn-rounded.active Active
        button.btn.btn-pink.btn-rounded.active Active
        .mt-4.mb-4 Disabled state
        button.btn.btn-secondary.btn-rounded(disabled) Disabled
        button.btn.btn-success.btn-rounded(disabled) Disabled
        button.btn.btn-info.btn-rounded(disabled) Disabled
        button.btn.btn-warning.btn-rounded(disabled) Disabled
        button.btn.btn-primary.btn-rounded(disabled) Disabled
        button.btn.btn-pink.btn-rounded(disabled) Disabled
      +panel('Checkbox and radio buttons')
        .mt-4.mb-4 Toggle State
        button.btn.btn-info.btn-rounded(data-toggle='button')
          span.active-hidden
            span.btn-icon
              i.la.la-cloud-upload
              | Upload
          span.active-visible
            span.btn-icon
              i.ti-check
              | Uploaded
        button.btn.btn-pink.btn-rounded(data-toggle='button')
          span.active-hidden Follow
          span.active-visible
            span.btn-icon
              i.ti-heart-broken
              | Unfollow
        button.btn.btn-primary.btn-icon-only.btn-circle(data-toggle='button')
          span.active-hidden
            i.la.la-music
          span.active-visible
            i.la.la-pause

        .mt-4.mb-4 Checkbox buttons
        .btn-group.btn-rounded(data-toggle='buttons')
            label.btn.btn-info
                | CHECKBOX 1
                input(type='checkbox')
            label.btn.btn-info
                | CHECKBOX 2
                input(type='checkbox')
            label.btn.btn-info
                | CHECKBOX 3
                input(type='checkbox')
        .mt-4.mb-4 Radio buttons
        .btn-group.btn-rounded.mb-4(data-toggle='buttons')
            label.btn.btn-primary
                | RADIO 1
                input(type='radio')
            label.btn.btn-primary.active
                | RADIO 2
                input(type='radio', checked='')
            label.btn.btn-primary
                | RADIO 3
                input(type='radio')
        .btn-group.btn-rounded(data-toggle='buttons')
            label.btn.btn-outline-pink
                i.ti-check.active-visible
                |  Male
                input(type='radio')
            label.btn.btn-outline-pink
                i.ti-check.active-visible
                |  Female
                input(type='radio')
            label.btn.btn-outline-pink
                i.ti-check.active-visible
                |  N/A
                input(type='radio')

block page_styles
  style.
    .btn-list-demo *:not(.btn-group):not(.btn-group-justified):not(.btn-group-vertical) > .btn {margin-bottom:15px;margin-right:5px;}
