extends ../layout.pug

block variables
  - var pageTitle = 'Pills'
  - var pageUrl = 'tabs-pill.html'
  - var page_heading = 'Pills'
  - var path = ['Basic UI', 'Tabs', 'Pills']

block content
  .row
    .col-lg-6
      .ibox
        .ibox-head
          .ibox-title Rounded Pills
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air
            li.nav-item
              a.nav-link.active(href='#tab-1-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-1-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-1-3', data-toggle='tab') Third
        .ibox-body
          .tab-content
            #tab-1-1.tab-pane.fade.show.active
              | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut reprehenderit in in do reprehenderit aliqua anim laboris elit quis ad esse labore consectetur dolore ad enim proident consequat nostrud lorem adipiscing proident esse excepteur velit dolor tempor ut incididunt nostrud occaecat veniam cupidatat eu ex cupidatat dolor dolor sunt consequat ut esse dolor quis in sed do dolor voluptate nulla ut eiusmod sint aliqua fugiat labore in sit voluptate ea laboris occaecat fugiat aute.
            #tab-1-2.tab-pane.fade
              | Ut lorem ut enim culpa excepteur veniam voluptate sunt mollit non quis ea fugiat voluptate est tempor veniam est voluptate cillum eu exercitation fugiat dolor voluptate enim dolore exercitation nostrud dolor minim dolore pariatur do in in anim in dolor id ad eiusmod velit nisi tempor sint esse dolore qui laboris ad eiusmod pariatur id eu dolore labore ad commodo qui voluptate in ipsum ut irure magna in non do enim deserunt mollit sint id sed deserunt in velit incididunt pariatur sunt nisi lorem duis laboris sunt laboris dolor in velit est aute cillum nulla et dolor aliquip esse non.
            #tab-1-3.tab-pane.fade
              | do reprehenderit aliqua anim laboris elit quis ad esse labore consectetur dolore ad enim proident consequat nostrud lorem adipiscing proident esse excepteur velit dolor tempor ut incididunt nostrud occaecat veniam cupidatat eu ex cupidatat dolor dolor sunt consequat ut esse dolor quis in sed do dolor voluptate nulla ut eiusmod sint aliqua fugiat labore in sit voluptate ea laboris occaecat fugiat aute in non elit commodo minim non in laboris laboris ad magna et pariatur.
    .col-lg-6
      .ibox
        .ibox-head.flex-row-reverse
          .ibox-title Rounded Pills
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air
            li.nav-item
              a.nav-link.active(href='#tab-2-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-2-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-2-3', data-toggle='tab') Third
        .ibox-body
          .tab-content
            #tab-2-1.tab-pane.fade.show.active
              | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut reprehenderit in in do reprehenderit aliqua anim laboris elit quis ad esse labore consectetur dolore ad enim proident consequat nostrud lorem adipiscing proident esse excepteur velit dolor tempor ut incididunt nostrud occaecat veniam cupidatat eu ex cupidatat dolor dolor sunt consequat ut esse dolor quis in sed do dolor voluptate nulla ut eiusmod sint aliqua fugiat labore in sit voluptate ea laboris occaecat fugiat aute.
            #tab-2-2.tab-pane.fade
              | Ut lorem ut enim culpa excepteur veniam voluptate sunt mollit non quis ea fugiat voluptate est tempor veniam est voluptate cillum eu exercitation fugiat dolor voluptate enim dolore exercitation nostrud dolor minim dolore pariatur do in in anim in dolor id ad eiusmod velit nisi tempor sint esse dolore qui laboris ad eiusmod pariatur id eu dolore labore ad commodo qui voluptate in ipsum ut irure magna in non do enim deserunt mollit sint id sed deserunt in velit incididunt pariatur sunt nisi lorem duis laboris sunt laboris dolor in velit est aute cillum nulla et dolor aliquip esse non.
            #tab-2-3.tab-pane.fade
              | do reprehenderit aliqua anim laboris elit quis ad esse labore consectetur dolore ad enim proident consequat nostrud lorem adipiscing proident esse excepteur velit dolor tempor ut incididunt nostrud occaecat veniam cupidatat eu ex cupidatat dolor dolor sunt consequat ut esse dolor quis in sed do dolor voluptate nulla ut eiusmod sint aliqua fugiat labore in sit voluptate ea laboris occaecat fugiat aute in non elit commodo minim non in laboris laboris ad magna et pariatur.
  .row
    .col-lg-6
      .ibox
        .ibox-head
          .ibox-title Base Pills
          ul.nav.nav-pills
            li.nav-item
              a.nav-link.active(href='#tab-3-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-3-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-3-3', data-toggle='tab') Third
        .ibox-body
          .tab-content
            #tab-3-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-3-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-3-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
      .ibox
        .ibox-head
          .ibox-title With dropdown
          ul.nav.nav-pills.nav-pills-success
            li.nav-item
              a.nav-link.active(href='#tab-4-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-4-2', data-toggle='tab') Second
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle='dropdown', href='javascript:;')
                | Dropdown 
                i.fa.fa-angle-down
              .dropdown-menu
                a.dropdown-item(href='#tab-4-3', data-toggle='tab') Third tab
                a.dropdown-item(href='#tab-4-4', data-toggle='tab') Fourth tab
        .ibox-body
          .tab-content
            #tab-4-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-4-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-4-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-4-4.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 4
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
      .ibox
        .ibox-head
          .ibox-title Fill and justifys
        .ibox-body
          ul.nav.nav-pills.nav-fill
            li.nav-item
              a.nav-link.active(href='#tab-5-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-5-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-5-3', data-toggle='tab') Third
          .tab-content
            #tab-5-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-5-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-5-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
          hr.mt-5.mb-5
          ul.nav.nav-pills.nav-justified.nav-pills-pink
            li.nav-item
              a.nav-link.active(href='#tab-6-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-6-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-6-3', data-toggle='tab') Third
          .tab-content
            #tab-6-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-6-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-6-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
    .col-lg-6
      .ibox
        .ibox-head
          .ibox-title State Colors
        .ibox-body
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air.nav-pills-pink
            li.nav-item
              a.nav-link.active(href='#tab-7-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-7-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-7-3', data-toggle='tab') Third
          .tab-content
            #tab-7-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-7-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-7-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
          hr.mt-5.mb-5
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air.nav-pills-success
            li.nav-item
              a.nav-link.active(href='#tab-8-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-8-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-8-3', data-toggle='tab') Third
          .tab-content
            #tab-8-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-8-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-8-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
          hr.mt-5.mb-5
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air.nav-pills-warning
            li.nav-item
              a.nav-link.active(href='#tab-9-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-9-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-9-3', data-toggle='tab') Third
          .tab-content
            #tab-9-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-9-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-9-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
          hr.mt-5.mb-5
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air.nav-pills-info
            li.nav-item
              a.nav-link.active(href='#tab-10-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-10-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-10-3', data-toggle='tab') Third
          .tab-content
            #tab-10-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-10-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-10-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
          hr.mt-5.mb-5
          ul.nav.nav-pills.nav-pills-rounded.nav-pills-air.nav-pills-danger
            li.nav-item
              a.nav-link.active(href='#tab-11-1', data-toggle='tab') Active
            li.nav-item
              a.nav-link(href='#tab-11-2', data-toggle='tab') Second
            li.nav-item
              a.nav-link(href='#tab-11-3', data-toggle='tab') Third
          .tab-content
            #tab-11-1.tab-pane.fade.show.active.text-center
              .h1.mt-5.mb-3 TAB 1
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-11-2.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 2
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
            #tab-11-3.tab-pane.fade.text-center
              .h1.mt-5.mb-3 TAB 3
              p.mb-5
                | Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.
