<div class="page-heading">
    <h1 class="page-title">Checkbox &amp; Radio</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Form Controls</li>
        <li class="breadcrumb-item">Checkbox &amp; Radio</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Checkboxes</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="input-span"></span>Default checkbox</label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <span class="input-span"></span>Checked</label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox checkbox-grey">
                            <input type="checkbox">
                            <span class="input-span"></span>Grey checkbox</label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox disabled">
                            <input type="checkbox" disabled>
                            <span class="input-span"></span>Disabled</label>
                    </div>
                    <div class="text-muted mb-4 mt-4">Checkbox State Colors</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="checkbox checkbox-primary">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-success">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-info">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-warning">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-danger">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-pink">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-blue">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-ebony">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="checkbox checkbox-primary">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-success">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-info">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-warning">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-danger">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-pink">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-blue">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-ebony">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4 mt-4">Checkbox State Colors</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-primary">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-success">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-info">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-warning">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-danger">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-pink">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-blue">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-ebony">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-primary">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-success">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-info">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-warning">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-danger">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-pink">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-blue">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-grey checkbox-ebony">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4 mt-4">Checkbox Outline State</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-primary">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-success">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-info">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-warning">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-danger">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-pink">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-blue">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-ebony">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-primary">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-success">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-info">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-warning">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-danger">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-pink">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-blue">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox checkbox-outline-ebony">
                                    <input type="checkbox" checked>
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4 mt-4">Inline Checkboxes</div>
                    <div class="form-group">
                        <div class="mb-2">
                            <label class="checkbox checkbox-inline">
                                <input type="checkbox">
                                <span class="input-span"></span>Option 1</label>
                            <label class="checkbox checkbox-inline">
                                <input type="checkbox">
                                <span class="input-span"></span>Option 2</label>
                            <label class="checkbox checkbox-inline">
                                <input type="checkbox">
                                <span class="input-span"></span>Option 3</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Radios</div>
                </div>
                <div class="ibox-body">
                    <div class="form-group">
                        <label class="radio">
                            <input type="radio" name="a">
                            <span class="input-span"></span>Default radio</label>
                    </div>
                    <div class="form-group">
                        <label class="radio">
                            <input type="radio" name="a" checked>
                            <span class="input-span"></span>Checked</label>
                    </div>
                    <div class="form-group">
                        <label class="radio radio-grey">
                            <input type="radio" name="a">
                            <span class="input-span"></span>Grey radio</label>
                    </div>
                    <div class="form-group">
                        <label class="radio disabled">
                            <input type="radio" name="a" disabled>
                            <span class="input-span"></span>Disabled</label>
                    </div>
                    <div class="text-muted mb-4 mt-4">Radio State Colors</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="radio radio-primary">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-success">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-info">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-warning">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-danger">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-pink">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-blue">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-ebony">
                                    <input type="radio" name="b">
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="radio radio-primary">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-success">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-info">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-warning">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-danger">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-pink">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-blue">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-ebony">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4 mt-4">Radio State Colors</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="radio radio-grey radio-primary">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-success">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-info">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-warning">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-danger">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-pink">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-blue">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-ebony">
                                    <input type="radio" name="c">
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="radio radio-grey radio-primary">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-success">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-info">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-warning">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-danger">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-pink">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-blue">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-grey radio-ebony">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4 mt-4">Radio Outline State</div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="radio radio-outline-primary">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-success">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-info">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-warning">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-danger">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-pink">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-blue">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-ebony">
                                    <input type="radio" name="d">
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="radio radio-outline-primary">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Primary</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-success">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Success</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-info">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Info</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-warning">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Warning</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-danger">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Danger</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-pink">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Pink</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-blue">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Blue</label>
                            </div>
                            <div class="form-group">
                                <label class="radio radio-outline-ebony">
                                    <input type="radio" checked>
                                    <span class="input-span"></span>Ebony</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4 mt-4">Inline Radios</div>
                    <div class="form-group">
                        <div class="mb-2">
                            <label class="radio radio-inline">
                                <input type="radio" name="e">
                                <span class="input-span"></span>Option 1</label>
                            <label class="radio radio-inline">
                                <input type="radio" name="e">
                                <span class="input-span"></span>Option 2</label>
                            <label class="radio radio-inline">
                                <input type="radio" name="e">
                                <span class="input-span"></span>Option 3</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
