li.dropdown.dropdown-notification
  a.nav-link(data-toggle='dropdown').dropdown-toggle.toolbar-icon
    i.ti-bell.rel
      span.notify-signal
  .dropdown-menu.dropdown-menu-right.dropdown-menu-media
    .dropdown-arrow
    .dropdown-header.text-center
      div
        span.font-18 <strong>14 New</strong> Notifications
      a(href='javascript:;').text-muted.font-13 view all
    div.p-3
      .scroller(data-height='320px' data-color="#71808f")
        ul.logs-list
          li.log-item(data-type='app')
            i.ti-check.log-icon.text-success
            div
              a 2 Issue fixed
              small.float-right.text-muted Just now
          li.log-item(data-type='app')
            i.ti-announcement.log-icon
            div
              a 7 new feedback
              span.badge.badge-warning.badge-pill.ml-1 important
              small.float-right.text-muted 5 mins
          li.log-item(data-type='server')
            i.ti-check.log-icon.text-success
            div
              a Production server up
              small.float-right.text-muted 24 mins
          li.log-item(data-type='app')
            i.ti-shopping-cart.log-icon
            div
              a 12 New orders
              small.float-right.text-muted 45 mins
          li.log-item(data-type='server')
            i.ti-info-alt.log-icon.text-danger
            div
              a Server error
              span.badge.badge-success.badge-pill.ml-1 resolved
              small.float-right.text-muted 1 hrs
          li.log-item(data-type='server')
            i.ti-harddrives.log-icon.text-danger
            div
              a Server overloaded 91%
              small.float-right.text-muted 2 hrs
          li.log-item(data-type='app')
            i.ti-user.log-icon
            div
              a 18 new users registered
              small.float-right.text-muted 12.07
          li.log-item(data-type='app')
            i.ti-shopping-cart.log-icon
            div
              a 5 New orders
              span.badge.badge-success.badge-pill.ml-1 pending
              small.float-right.text-muted 12.30
          li.log-item(data-type='server')
            i.ti-info-alt.log-icon.text-danger
            div
              a System error
              small.float-right.text-muted 13.45
          li.log-item(data-type='app')
            i.fa.fa-file-excel-o.log-icon
            div
              a The invoice is ready
              small.float-right.text-muted 16.30
          li.log-item(data-type='server')
            i.ti-server.log-icon.text-danger
            div
              a Database overloaded 92%
              small.float-right.text-muted 17.15
          li.log-item(data-type='server')
            i.ti-check.log-icon.text-success
            div
              a Production server up
              small.float-right.text-muted 18.05
          li.log-item(data-type='app')
            i.ti-user.log-icon
            div
              a 12 new users registered
              small.float-right.text-muted 18.22
          li.log-item(data-type='app')
            i.ti-shopping-cart.log-icon
            div
              a 8 New orders
              small.float-right.text-muted 20.00

