<div class="page-content fade-in-up">
    <div class="flexbox-b mb-5">
        <span class="mr-4 static-badge badge-info"><i class="ti-support"></i></span>
        <div>
            <h5 class="font-strong">FAQ</h5>
            <div class="text-light">Found 42 Questions in 5 categories</div>
        </div>
    </div>
    <div class="input-group-icon input-group-icon-left input-group-lg mb-5">
        <span class="input-icon input-icon-right"><i class="ti-search"></i></span>
        <input class="form-control form-control-air font-light font-poppins border-0" type="text" placeholder="Search ..." style="box-shadow:0 3px 6px rgba(10,16,20,.15);">
    </div>
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-primary btn-rounded btn-block mb-4" data-toggle="modal" data-target="#new-question-dialog">
                <span class="btn-icon"><i class="la la-plus-circle"></i>New Question</span>
            </button>
            <ul class="list-group list-group-divider faq-tabs">
                <li class="list-group-item">
                    <a class="active" href="#accordion-1" data-toggle="tab"><i class="badge-point badge-primary mr-3"></i>General</a>
                </li>
                <li class="list-group-item">
                    <a href="#accordion-2" data-toggle="tab"><i class="badge-point badge-warning mr-3"></i>Payment</a>
                </li>
                <li class="list-group-item">
                    <a href="#accordion-3" data-toggle="tab"><i class="badge-point badge-info mr-3"></i>Technical issues</a>
                </li>
                <li class="list-group-item">
                    <a href="#accordion-3" data-toggle="tab"><i class="badge-point badge-danger mr-3"></i>Registration</a>
                </li>
                <li class="list-group-item">
                    <a href="#accordion-3" data-toggle="tab"><i class="badge-point badge-blue mr-3"></i>Security</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="ibox">
                <div class="ibox-body tab-content">
                    <div class="tab-pane fade active show" id="accordion-1">
                        <h5 class="font-strong mb-4 text-primary">GENERAL QUESTIONS — 10</h5>
                        <ul class="list-group list-group-divider list-group-full faq-list">
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-1">How to install the new version of Adminca.</a>
                                <div class="collapse show" id="faq1-1">
                                    <div class="p-3 bg-primary-50 mt-3">Excepteur eiusmod et occaecat irure dolor adipiscing sit do ullamco aute adipiscing et sint ut ex non nulla exercitation adipiscing in in ea dolor proident laborum duis in ut mollit</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-2">Ea velit aliqua cillum ut nisi </a>
                                <div class="collapse" id="faq1-2">
                                    <div class="p-3 bg-primary-50 mt-3">Nisi exercitation nisi proident ea ut esse sit pariatur dolore consectetur id velit ut irure esse et ut qui irure lorem dolore officia consectetur cupidatat sed labore qui duis dolor</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-3">Consequat consequat dolor eu consequat in </a>
                                <div class="collapse" id="faq1-3">
                                    <div class="p-3 bg-primary-50 mt-3">Consectetur culpa occaecat incididunt non quis aliqua ut aliqua ut ullamco aute in cupidatat esse incididunt labore occaecat dolore eiusmod dolore do dolore ullamco non laborum est occaecat cillum sed</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-4">Proident cillum aliquip occaecat eiusmod dolor </a>
                                <div class="collapse" id="faq1-4">
                                    <div class="p-3 bg-primary-50 mt-3">Id amet do non non dolore est ut consectetur ea ex excepteur commodo sint dolore ut tempor et ullamco adipiscing minim tempor officia magna dolore ad velit dolore mollit adipiscing</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-5">Et pariatur incididunt irure ut officia </a>
                                <div class="collapse" id="faq1-5">
                                    <div class="p-3 bg-primary-50 mt-3">Duis aute pariatur consequat et sit in ullamco velit laboris id deserunt commodo irure aliquip qui laboris dolor sed pariatur ut nulla laboris cupidatat ex veniam ut dolor in cillum</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-6">Magna nisi eiusmod eu in commodo </a>
                                <div class="collapse" id="faq1-6">
                                    <div class="p-3 bg-primary-50 mt-3">Magna tempor ipsum amet elit ut anim minim enim cupidatat dolore consectetur sunt ut laboris dolore aliqua non consectetur cillum cillum nulla quis ut aliqua nisi ea ut reprehenderit lorem</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-7">Sed eiusmod minim in aliquip elit </a>
                                <div class="collapse" id="faq1-7">
                                    <div class="p-3 bg-primary-50 mt-3">Magna dolor commodo occaecat in laborum sunt aliqua fugiat quis nisi pariatur tempor aliqua mollit in in non sint aliqua duis deserunt ut ex duis eiusmod laboris veniam amet laboris</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-8">Magna mollit veniam mollit laboris esse </a>
                                <div class="collapse" id="faq1-8">
                                    <div class="p-3 bg-primary-50 mt-3">Occaecat nostrud magna mollit eu laborum non duis duis voluptate nisi fugiat dolore deserunt non exercitation magna in fugiat ut dolor dolor officia duis ullamco voluptate non sed eiusmod do</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-9">Sit quis lorem fugiat dolor sed </a>
                                <div class="collapse" id="faq1-9">
                                    <div class="p-3 bg-primary-50 mt-3">Pariatur elit mollit est lorem occaecat in ut cupidatat cupidatat et exercitation sint deserunt quis aute occaecat non sunt irure dolor in excepteur cupidatat incididunt proident culpa aliqua sit occaecat</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq1-10">Nulla in dolor exercitation labore consequat </a>
                                <div class="collapse" id="faq1-10">
                                    <div class="p-3 bg-primary-50 mt-3">Officia minim tempor laborum laborum proident consectetur tempor velit elit velit ipsum laboris labore reprehenderit excepteur in tempor adipiscing esse mollit fugiat pariatur aliqua elit tempor dolor ad
                                        aliqua in</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="accordion-2">
                        <h5 class="font-strong mb-4 text-warning">PAYMENT QUESTIONS — 7</h5>
                        <ul class="list-group list-group-divider list-group-full faq-list">
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq2-1">Esse exercitation do veniam labore officia </a>
                                <div class="collapse show" id="faq2-1">
                                    <div class="p-3 bg-primary-50 mt-3">Ut do ullamco non aliqua aute quis velit ad exercitation anim eiusmod dolor aliquip in sint nisi in velit in esse deserunt esse consectetur ut excepteur tempor aute adipiscing ut</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq2-2">Mollit irure incididunt veniam incididunt ut </a>
                                <div class="collapse" id="faq2-2">
                                    <div class="p-3 bg-primary-50 mt-3">Exercitation excepteur nostrud elit irure exercitation pariatur sint irure nulla do labore irure non occaecat ipsum cillum culpa cupidatat qui eu occaecat sit sit in nulla mollit sunt enim cupidatat</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq2-3">Quis elit sit nostrud in excepteur </a>
                                <div class="collapse" id="faq2-3">
                                    <div class="p-3 bg-primary-50 mt-3">Ut nostrud dolor laboris occaecat magna ut ipsum officia ipsum cupidatat esse sed dolor ex ut veniam reprehenderit ut amet dolore in aliqua culpa in sed tempor exercitation anim ipsum</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq2-4">Ut aliquip lorem proident occaecat excepteur </a>
                                <div class="collapse" id="faq2-4">
                                    <div class="p-3 bg-primary-50 mt-3">Anim non laborum et dolore elit aliquip in ipsum anim occaecat sit laborum quis ipsum aliqua elit cupidatat cillum consectetur amet proident ad cillum mollit ut dolore id cillum est</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq2-5">Elit do ut lorem in non </a>
                                <div class="collapse" id="faq2-5">
                                    <div class="p-3 bg-primary-50 mt-3">Enim elit officia anim consequat eu proident veniam tempor est minim ut excepteur ullamco aliqua eu aliqua reprehenderit velit ullamco eiusmod aliqua quis nisi officia dolor officia aute elit sint</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq2-6">Ex cillum fugiat dolor eiusmod sunt </a>
                                <div class="collapse" id="faq2-6">
                                    <div class="p-3 bg-primary-50 mt-3">Aliqua culpa laborum officia magna cillum ullamco commodo ipsum ut cupidatat ea ea consectetur enim in officia dolor tempor dolore nulla in tempor anim cupidatat dolor adipiscing proident excepteur labore</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq2-7">Dolor dolor nostrud nisi consectetur reprehenderit </a>
                                <div class="collapse" id="faq2-7">
                                    <div class="p-3 bg-primary-50 mt-3">Nostrud excepteur eiusmod enim mollit non enim minim consectetur adipiscing quis tempor anim pariatur magna nulla aute dolor consectetur reprehenderit sunt irure fugiat duis esse commodo ipsum aute commodo
                                        dolore</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="accordion-3">
                        <h5 class="font-strong mb-4 text-info">TECHNICAL QUESTIONS — 5</h5>
                        <ul class="list-group list-group-divider list-group-full faq-list">
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq3-1">Ad laborum ut cillum nostrud pariatur </a>
                                <div class="collapse show" id="faq3-1">
                                    <div class="p-3 bg-primary-50 mt-3">Dolore minim enim veniam ipsum laboris do aute quis cupidatat est officia nostrud proident dolor ut laborum est ea nisi adipiscing laboris dolore deserunt esse in eiusmod ad dolore officia</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq3-2">Minim pariatur aliquip dolore enim ut </a>
                                <div class="collapse" id="faq3-2">
                                    <div class="p-3 bg-primary-50 mt-3">Veniam pariatur ut et esse occaecat veniam excepteur commodo irure eiusmod id ex quis officia labore mollit non ex enim proident consequat anim dolor ea officia et in et excepteur</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq3-3">Incididunt laborum et velit enim minim </a>
                                <div class="collapse" id="faq3-3">
                                    <div class="p-3 bg-primary-50 mt-3">Consectetur laborum laborum ut commodo dolore aliqua consectetur irure pariatur mollit enim ea ut tempor anim magna magna laborum duis in ullamco amet ut et ipsum laborum ullamco incididunt est</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq3-4">Id dolore ex minim ex et </a>
                                <div class="collapse" id="faq3-4">
                                    <div class="p-3 bg-primary-50 mt-3">Veniam amet pariatur cillum deserunt reprehenderit tempor ullamco excepteur duis est laborum elit velit veniam duis do ut dolor adipiscing fugiat qui esse aliqua commodo sint nostrud nostrud ea laborum</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a class="font-strong" data-toggle="collapse" href="#faq3-5">Velit officia ex anim laboris ex </a>
                                <div class="collapse" id="faq3-5">
                                    <div class="p-3 bg-primary-50 mt-3">Irure ipsum dolore nostrud aliqua est ut mollit id proident ea ipsum dolor eu deserunt ex commodo labore dolor id cupidatat dolore irure excepteur et laborum voluptate eiusmod incididunt minim</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-question-dialog" aria-labelledby="new-question-dialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content">
                <div class="modal-header p-4">
                    <h5 class="modal-title">NEW QUESTION</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    <div class="form-group mb-4">
                        <label class="text-muted mb-3">Category</label>
                        <div>
                            <label class="radio radio-outline-primary radio-inline check-single" data-toggle="tooltip" data-original-title="General">
                                <input type="radio" name="cat" checked="">
                                <span class="input-span"></span>
                            </label>
                            <label class="radio radio-outline-warning radio-inline check-single" data-toggle="tooltip" data-original-title="Payment">
                                <input type="radio" name="cat">
                                <span class="input-span"></span>
                            </label>
                            <label class="radio radio-outline-info radio-inline check-single" data-toggle="tooltip" data-original-title="Technical">
                                <input type="radio" name="cat">
                                <span class="input-span"></span>
                            </label>
                            <label class="radio radio-outline-danger radio-inline check-single" data-toggle="tooltip" data-original-title="Registration">
                                <input type="radio" name="cat">
                                <span class="input-span"></span>
                            </label>
                            <label class="radio radio-outline-blue radio-inline check-single" data-toggle="tooltip" data-original-title="Security">
                                <input type="radio" name="cat">
                                <span class="input-span"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <input class="form-control form-control-line" type="text" placeholder="Question">
                    </div>
                    <div class="form-group mb-4">
                        <textarea class="form-control form-control-line" placeholder="Answer of the question" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-start bg-primary-50">
                    <button class="btn btn-primary btn-rounded mr-3" type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .faq-list a[data-toggle="collapse"] {
        display: block;
        position: relative
    }

    .faq-list a[data-toggle="collapse"]:after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'themify';
        content: "\e61a";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .faq-list a[data-toggle="collapse"][aria-expanded=true]:after {
        content: "\e622";
    }
</style>
