body {

    // Fixed navbar
    /////////////////

    &.fixed-navbar, &.fixed-layout {
		.header {
		    position: fixed;
		    left: 0;
		    right: 0;
		    top: 0;
		    z-index: 1002;
		}
		.content-wrapper {
			padding-top: 66px;
		}
		&.drawer-sidebar {
		    .page-sidebar {
		        margin-top: 0px;
		    }
		}
	}

	// Fixed layout
    /////////////////
    
	&.fixed-layout {
		.page-sidebar {
		    position: fixed;
		    top: 66px;
		    bottom: 0;
		    margin-top: 0;
		    padding-bottom: 60px;
		}
	}


    // Boxed layout
    /////////////////

	&.boxed-layout {
	    max-width: 1200px;
	    margin: 0 auto;
	    &.fixed-navbar, &.fixed-layout {
	        .header {
	            max-width: 1200px;
	            margin: 0 auto;
	        }
	    }
	}

    // Drawer sidebar
    /////////////////

	&.drawer-sidebar {
		.page-sidebar {
		    position: fixed;
		    top: 0;
		    bottom: 0;
		    left: -$sidebar-width;
		    margin-top: 0;
		    z-index: 1005;
		    &.shined {
		    	left: 0;
		    }
		}
		.content-wrapper {
		    margin-left: 0;
		}
		.page-brand {display:none}
	}

}
